.admin-pi .flex-container label {
    display: none;
}

.admin-pi .form-row {
    padding-bottom: 0;
    display: inline-block;
}

.admin-pi .form-row .flex-container {
    margin-right: 2rem;
}

fieldset.admin-pi div.form-row div.flex-container div.readonly {
    width: 100%;
}
