.no-border{
  border:0;
}
.allocations-header{
  border-bottom: 2px solid black;
}

a:hover{
  cursor:hand;
  cursor:pointer;
}

.modal-header{
  padding: 15px 15px 0 15px;
  border-bottom: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
