/* Using this fix from Jason: also in, appliance_catalog/static/appliance_catalog/css/appliance_catalog.css
    TODO(alex): consider putting this somewhere global, other spots may be affected

    TODO(jason): the following is pasted from angular-csp.css--this is NOT
   the right way to do this, but I have no idea how to create the proper
   pipeline bundle that we need here. */

/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

td.ng-binding{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
} 

td p { margin: 0px;}

.allocations-header{border-bottom:2px solid #000}a:hover{cursor:hand;cursor:pointer}.btn,.btn:hover,button:hover{background:none!important;box-shadow:none!important}.btn-danger,.btn-danger:hover{color:#fff!important;background-color:#C53C36!important;border-color:#C53C36!important}.btn-info,.btn-info:hover{color:#fff!important;background-color:#31B0D5!important;border-color:#31B0D5!important}.btn-primary,.btn-primary:hover{color:#fff!important;background-color:#3071A9!important;border-color:#3071A9!important}.btn-success,.btn-success:hover{color:#fff!important;background-color:#59B259!important;border-color:#59B259!important}.btn-warning,.btn-warning:hover{color:#fff!important;background-color:#F89406!important;border-color:#F89406!important}.form-group{margin:10px}.list-group-item{padding:5px}.modal-footer{border-top:0}.modal-header{padding:15px 15px 0;border-bottom:0}.no-border{border:0}.ng-cloak,[ng-cloak],[ng\:cloak]{display:none!important}.row{margin:0}table{margin:0 0!important}.more-text.show-inline{display:inline!important}
