{% extends 'layout/default.html' %}
{% block title %}{{ news.title }}{% endblock %}
{% block content %}
<h1>{{ news.title }}</h1>
<article class="news-item">
  <header>
    <div class="meta">
      <span>Posted by {{ news.author.get_full_name }} on {{ news.created|date:"F d, o" }}</span>
    </div>
  </header>
  {% if news.event %}
    <section>
      <table class="table table-bordered" style="width:auto">
        <tr>
          <td><b>Event type</b></td>
          <td>{{ news.event.event_type }}</td>
        </tr>
        <tr>
          <td><b>Event date</b></td>
          <td>{{ news.event.event_date|date:"l, F d, o f a"}}</td>
        </tr>
        <tr>
          <td><b>Registration Link</b></td>
          <td>{{ news.event.registration_link }}</td>
        </tr>
      </table>
    </section>
  {% endif %}

  {% if news.outage %}
    <section>
      <table class="table table-bordered" style="width:auto">
        <tr>
          <td><b>Outage start</b></td>
          <td>{{ news.outage.start_date|date:"l, F d, o f a" }}</td>
        </tr>
        <tr>
          <td><b>Expected end</b></td>
          <td>{{ news.outage.end_date|date:"l, F d, o f a" }}</td>
        </tr>
      </table>
    </section>
  {% endif %}

  <section class="news-item-content">
    {{ news.body|safe }}
  </section>
</article>
{% endblock %}
