{% extends 'layout/default.html' %}
{% block title %}{{ news.title }}{% endblock %}
{% block content %}
<h1>{{ news.title }}</h1>
<article class="news-item">
  <header>
    <div class="meta">
      <span>Posted by {{ news.author.get_full_name }} on {{ news.created|date:"F d, o" }}</span>
    </div>
  </header>
  {% if news.event %}
    <section>
      <table class="table table-bordered" style="width:auto">
        <tr>
          <td><b>Event type</b></td>
          <td>{{ news.event.event_type }}</td>
        </tr>
        <tr>
          <td><b>Event date</b></td>
          <td>{{ news.event.event_date|date:"l, F d, o f a"}}</td>
        </tr>
        <tr>
          <td><b>Registration Link</b></td>
          <td><a href="{{ news.event.registration_link }}" target="_blank" rel="noopener">{{ news.event.registration_link }}</a></td>
        </tr>
        <tr>
          <td><b>Create a Chameleon Account</b></td>
          <td><a href="https://chameleoncloud.readthedocs.io/en/latest/getting-started" target="_blank" rel="noopener">https://chameleoncloud.readthedocs.io/en/latest/getting-started</a></td>
        </tr>
      </table>
    </section>

    <section class="news-item-content">
      <h2>Description</h2>
      {{ news.body|safe }}
    </section>

    <section>
      <h2>Presenter Bio</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, accusantium non deserunt illo, quae beatae pariatur itaque reiciendis impedit explicabo amet, hic quo ipsam sunt ratione repellat aperiam perferendis ea.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorum excepturi eveniet?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem tenetur, quia error quo saepe, accusamus sed iusto rem distinctio hic excepturi omnis eum non placeat ipsam nesciunt? Dicta delectus qui possimus, tenetur adipisci magni.</p>
    </section>

  {% endif %}

  {% if news.outage %}
    <section>
      <table class="table table-bordered" style="width:auto">
        <tr>
          <td><b>Outage start</b></td>
          <td>{{ news.outage.start_date|date:"l, F d, o f a" }}</td>
        </tr>
        <tr>
          <td><b>Expected end</b></td>
          <td>{{ news.outage.end_date|date:"l, F d, o f a" }}</td>
        </tr>
      </table>
    </section>
    <section class="news-item-content">
      {{ news.body|safe }}
    </section>
  {% endif %}

</article>
{% endblock %}
