{% extends 'layout/user.html' %}
{% block title %}Latest News{% endblock %}
{% block content %}
<h1>Reported Outages</h1>

<div class="alternatives" style="position:relative;top:-25px">
  <a class="pull-right" href="{% url 'outage_feed' %}"><span class="label label-warning"><i class="fa fa-rss"></i> RSS</span></a>
</div>

<div class="article-list">
{% for outage in outage_list %}
<article class="news-item news-item-type-outage">
  <header>
    <h2><a href="{% url 'outage_detail' outage.slug %}">{{ outage.title }}</a></h2>
    <div class="meta">
      <span>Posted by {{ outage.author.get_full_name }} on {{ outage.created|date:"F d, o" }}</span>
    </div>
  </header>
  <section>
    <table class="table table-bordered" style="width:auto">
      <tr>
        <td><b>Outage start</b></td>
        <td>{{ outage.outage.start_date|date:"l, F d, o f a" }}</td>
      </tr>
      <tr>
        <td><b>Expected end</b></td>
        <td>{{ outage.outage.end_date|date:"l, F d, o f a" }}</td>
      </tr>
    </table>
  </section>
  <section class="news-item-summary">
    {{ outage.summary|safe }}
  </section>
  <div class="read-more">
    <a href="{% url 'outage_detail' outage.slug %}" class="read-more-link">Read more</a>
  </div>
</article>
{% empty %}
  <div class="jumbotron">
    <p>No news to display!</p>
  </div>
{% endfor %}
</div>

{% if is_paginated %}
<nav class="text-center">
<ul class="pagination">
    {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}">&larr; Previous</a>
      </li>
    {% endif %}
    {% with ''|center:page_obj.paginator.num_pages as range %}
    {% for _ in range %}
      <li{% if forloop.counter == page_obj.number %} class="active"{% endif %}>
        <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
      </li>
    {% endfor %}
    {% endwith %}
    {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
      </li>
    {% endif %}
  </span>
</ul>
</nav>
{% endif %}
{% endblock %}
