{% extends 'admin/change_list.html' %}

{% block content %}

{% for task in task_managers %}

{% with start_url_name="admin:"|add:task.start_path_name %}
{% with check_url_name="admin:"|add:task.check_path_name %}

<div style="display: flex; justify-content: space-between; width: 80%">
  <button id="start-import-btn-{{ task.name }}">Start {{ task.name }}</button>
  <div>
    <label id="progress-label-{{ task.name }}" for="progress-{{ task.name }}">{{ task.name }}: none</label>
    <progress style="width: 600px" value=0 max=10 id="progress-{{ task.name }}"></progress>
  </div>
</div>

<script>
  async function checkProgress(taskName) {
    let lblId = "progress-label-{{ task.name }}"
    let progId = "progress-{{ task.name }}"

    const statusResponse = await fetch('{% url check_url_name %}');
    const statusData = await statusResponse.json();
    document.getElementById(lblId).innerText = `Import: ${statusData.status}`;
    if (statusData.status === 'PROGRESS') {
      let progressBarEl = document.getElementById(progId)
      progressBarEl.setAttribute("max", statusData.total)
      progressBarEl.setAttribute("value", statusData.current)
    } else if (statusData.status === 'SUCCESS') {
      alert(`Import complete! ${statusData?.result}`);
      return
    } else if (statusData.status === 'FAILURE') {
      alert(`Import failed! ${statusData?.result}`);
      return
    } 
    // Keep checking only if the status is not null
    if (statusData.status !== null){
      setTimeout(checkProgress, 5000);
    }
  }
  let btnId = "start-import-btn-{{ task.name }}"
  console.log(btnId)
  document.getElementById(btnId).addEventListener('click', async () => {
    const response = await fetch('{% url start_url_name %}');
    await response.json();
    await checkProgress();
  });
  checkProgress();
</script>

{{ block.super }}
{% endwith %}
{% endwith %}
{% endfor %}

{% endblock %}