[submodule "deps/pytas"]
	path = deps/pytas
	url = git@bitbucket.org:mrhanlon/pytas.git
[submodule "deps/python-rt"]
	path = deps/python-rt
	url = https://gitlab.labs.nic.cz/labs/python-rt.git
[submodule "github_content/content"]
	path = github_content/content
	url = git@github.com:ChameleonCloud/ChameleonCloud.github.io.git
