###
# Chameleon Environment Variables
#
# This file is used by docker-compose to set and pass
# environment variables into the container(s) that make
# up the chameleon portal deployment.
#
# Make a copy of this file called '.chameleon_env' and
# fill in the appropriate values below.
###

# TAS API config
TAS_URL=https://tas-dev.tacc.utexas.edu/api-test
TAS_CLIENT_KEY=
TAS_CLIENT_SECRET=

# RT REST API config
RT_HOST=https://consult.tacc.utexas.edu/REST/1.0/
RT_USERNAME=
RT_PASSWORD=
RT_DEFAULT_QUEUE=

# Uncomment and configure these to use a MySQL database
DB_NAME=chameleon_dev
DB_HOST=mysql
DB_PORT=3306
DB_USER=ccuser
DB_PASSWORD=ccpass

# Uncomment to run in Production mode
#DJANGO_ENV=Production

# Configure Google Analytics property ID
#GOOGLE_ANALYTICS_PROPERTY_ID=

# Django secret key
# USE A NEW VALUE IN PRODUCTION
DJANGO_SECRET_KEY=notreallyasecret

# Email
SMTP_HOST=relay.tacc.utexas.edu
SMTP_PORT=25
SMTP_USER=
SMTP_PASSWORD=
OUTAGE_NOTIFICATION_EMAIL=
DEFAULT_FROM_EMAIL=no-reply@chameleoncloud.org

# Sharing portal
ZENODO_URL=https://sandbox.zenodo.org
ARTIFACT_SHARING_JUPYTERHUB_URL=https://jupyter.chameleoncloud.org
