django

django-angular
django-bootstrap3
django-ckeditor
django-csp
django-impersonate
django-markdown-deux
django-pipeline
django-reversion
django-simple-captcha
django-termsandconditions
django-webpack-loader
django-rest-framework
django-filter

# django-cms
django-cms
djangocms-column
djangocms-file
djangocms-flash
djangocms-inherit
djangocms-link
djangocms-picture
djangocms-style
djangocms-teaser
djangocms-text-ckeditor
djangocms-video
git+https://github.com/ChameleonCloud/djangocms-blog@chameleon/1.0.x#egg=djangocms_blog&_=1

celery
httpretty
kombu
mock
mysqlclient
# opbeat
Pillow
ply
git+https://github.com/ChameleonCloud/python-keycloak-client#egg=python-keycloak-client
python3-openid
pytz
PyYAML
redis
requests
rt
six
slimit
sqlparse
git+https://github.com/ChameleonCloud/pytas#egg=pytas
bibtexparser
git+https://github.com/chameleoncloud/mozilla-django-oidc#egg=mozilla_django_oidc&2020-10-08
python-memcached
python-blazarclient
python-cinderclient
python-glanceclient
python-keystoneclient
python-novaclient
