django

django-angular
django-bootstrap3
django-ckeditor
django-impersonate
django-markdown-deux
django-pipeline
django-reversion
django-simple-captcha
django-termsandconditions

# django-cms
django-cms
cmsplugin-filer
djangocms-column
djangocms-file
djangocms-flash
djangocms-inherit
djangocms-link
djangocms-picture
djangocms-style
djangocms-teaser
djangocms-text-ckeditor
djangocms-video
git+https://github.com/ChameleonCloud/djangocms-blog@chameleon/0.8.x#egg=djangocms_blog

httpretty
mock
MySQL-python
opbeat
Pillow
ply
python-openid
pytz
PyYAML
rt
six
slimit
sqlparse
git+https://github.com/ChameleonCloud/pytas#egg=pytas

python-glanceclient
python-keystoneclient
python-novaclient
python-blazarclient
