#Django>=1.7,<1.8
Django==1.8.18


django-mptt==0.8.6
## replaces above django-mptt requirement in djangocms 3.1
django-treebeard
#django-sekizai
django-sekizai

#django-classy-tags
django-classy-tags

django-filer==1.2
django-ckeditor
django-pipeline
django-simple-captcha
django-bootstrap3
django-termsandconditions
django-angular
django-impersonate
django-reversion
django-markdown-deux

#django-cms==3.0.10
django-cms==3.1.1

#djangocms-admin-style
djangocms-admin-style

djangocms-column
djangocms-file
djangocms-flash
#
#djangocms-googlemap
djangocms-inherit
djangocms-installer
djangocms-link
djangocms-picture
djangocms-style
djangocms-teaser
djangocms-text-ckeditor
djangocms-video
cmsplugin-filer==1.1.1

python-openid
ply
html5lib
#six==1.9.0
six
Pillow
rt==1.0.8
MySQL-python==1.2.5
slimit
PyYAML
pytz
sqlparse
opbeat
httpretty
mock

djangocms-blog=0.8.13
#django-meta-mixin

# these modules aren't in PIP
#-e git+https://bitbucket.org/taccaci/pytas.git@v1.0.3#egg=pytas-1.0.3

# Working on a feature branch
#-e git+https://bitbucket.org/taccaci/pytas.git@cmarnold/jobs-information#egg=pytas-1.0.3

# Trying a specific commit because pip is garbage
-e git+https://bitbucket.org/taccaci/pytas.git@e9fc42d#egg=pytas-e9fc42d

