aldryn-apphooks-config==0.4.2
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
Babel==2.7.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cliff==2.15.0
cmd2==0.8.9
cmsplugin-filer==1.1.3
configparser==3.8.1
constantly==15.1.0
contextlib2==0.5.5
cookies==2.2.1
cryptography==2.7
debtcollector==1.21.0
Django==1.10.8
django-angular==0.8.6
django-appconf==1.0.3
django-appdata==0.2.1
django-bootstrap3==9.1.0
django-ckeditor==5.3.1
django-classy-tags==0.8.0
django-cms==3.5.3
django-filer==1.5.0
django-formtools==2.1
django-impersonate==1.4.1
django-js-asset==1.2.2
django-markdown-deux==1.0.5
django-meta==1.4.1
django-meta-mixin==0.3.0
django-mptt==0.9.0
django-parler==1.9.2
django-pipeline==1.6.14
django-polymorphic==1.3.1
django-ranged-response==0.2.0
django-reversion==3.0.0
django-sekizai==0.10.0
django-simple-captcha==0.5.12
django-sortedm2m==1.5.0
django-taggit==0.22.2
django-taggit-autosuggest==0.3.7
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-termsandconditions==1.2.15
django-treebeard==4.3
djangocms-admin-style==1.4.0
djangocms-apphook-setup==0.3.0
djangocms-attributes-field==0.3.0
djangocms-blog==0.9.11
djangocms-column==1.8.0
djangocms-file==2.0.3
djangocms-flash==0.3.0
djangocms-inherit==0.2.2
djangocms-link==2.1.2
djangocms-picture==2.0.8
djangocms-style==2.0.2
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.6.1
djangocms-video==2.0.5
easy-thumbnails==2.6
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.3.0
html5lib==1.0.1
httpretty==0.9.6
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.19
incremental==17.5.0
ipaddress==1.0.22
iso8601==0.1.12
jsonpatch==1.24
jsonpointer==2.0
jsonschema==3.0.2
keystoneauth1==3.17.0
lxml==4.3.5
markdown2==2.3.8
mock==3.0.5
monotonic==1.5
more-itertools==5.0.0
msgpack==0.6.1
MySQL-python==1.2.5
netaddr==0.7.19
netifaces==0.10.9
opbeat==3.6.1
os-service-types==1.7.0
oslo.config==6.11.1
oslo.context==2.22.1
oslo.i18n==3.23.1
oslo.log==3.44.1
oslo.serialization==2.29.1
oslo.utils==3.41.0
packaging==19.1
pathlib2==2.3.4
pbr==5.4.2
Pillow==6.1.0
pluggy==0.12.0
ply==3.11
prettytable==0.7.2
py==1.8.0
pycparser==2.19
PyHamcrest==1.9.0
pyinotify==0.9.6
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyperclip==1.7.0
pyrsistent==0.15.4
pytas==1.2.0
pytest==4.6.5
python-blazarclient==2.0.1
python-dateutil==2.8.0
python-glanceclient==2.13.1
python-keystoneclient==3.17.0
python-novaclient==11.0.0
python-openid==2.2.5
pytz==2019.2
PyYAML==3.13
requests==2.22.0
responses==0.10.6
rfc3986==1.3.2
rt==1.0.11
scandir==1.10.0
simplejson==3.16.0
six==1.12.0
slimit==0.8.1
sqlparse==0.3.0
stevedore==1.30.1
subprocess32==3.5.4
suds==0.4
Twisted==19.2.1
unicodecsv==0.14.1
Unidecode==1.0.23
urllib3==1.25.3
uWSGI==2.0.18
virtualenv==15.2.0
warlock==1.3.3
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.11.2
zipp==0.6.0
zope.interface==4.6.0
