.discovery-app {
    .node-header,
    .node-sub-header {
        font-weight: bold;
    }
    .node-sub-header {
        border-bottom: 1px solid #999;
    }
    .node {
        margin-bottom: 2em;
        word-wrap: break-word; 
    }
    .node section {
        margin-bottom: 1em;
    }
    table {
        font-size: 0.9em;
    }
    .header-line {
        border-bottom: 2px solid #EFEFF2;
        margin-top: 10px;
    }
    .pseudolink {
        cursor: pointer;
        cursor: hand;
    }
    .filter-block {
        padding-bottom: 10px;
        word-wrap: break-word;
    }
    .disabled {
        color: #777;
    }
    .bg-primary,
    .bg-success {
        padding: 3px;
    }
    ol li {
        float: left;
    }
    .row > .col-sm-2:nth-child(6n+1) {
        clear: left;
    }
    .row > .col-sm-3:nth-child(4n+1) {
        clear: left;
    }
    h5,
    .h5 {
        margin-top: 8px;
        margin-bottom: 0px;
    }
    .filter-state{
        margin-top: 15px;
        margin-bottom: 25px;
    }
}


/*Non namespaced styles*/

.modal-body {
    word-wrap: break-word;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

td {
    border-top: 0 !important;
    white-space: nowrap;
}
