:root {
    --accent-primary: #74a93c;
    --accent-secondary: #4564E2;

    --grey: #7e7e7e;
    --grey-med: #aaaaaa;
    --grey-light: #e5e5e5;
    --grey-lighter: #f2f2f2;
    --grey-dark: #494949;

    --link-color: #4564E2;
    --link-hover-color: darken(--link-color, 10%);
    --link-active-color: $link-hover-color;
}

.blockLink {
    display: block;
} .blockLink,
  .blockLink:hover,
  .blockLink:active,
  .blockLink:visited {
    color: inherit;
    text-decoration: none;
}

.layoutGrid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.layoutGrid__main {
    flex: 2;
}

.layoutGrid__side {
    flex: 1;
    margin-left: 3rem;
}

.cardFilter {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    background: #ffffff;
    border: 2px solid #dadada;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: .5rem;
} .cardFilter:focus {
    outline: none;
    border-color: var(--accent-secondary);
    box-shadow: none;
}

.cardItem {
    position: relative;
    transition: box-shadow 0.3s ease-out;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 2rem 1.5rem;
} .cardItem:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.cardItem.hidden {
    display: none;
} .cardItem:not(.hidden) ~ :not(.hidden) {
    border-top-width: 0;
}

.cardItem__title {
    margin: 0 0 1rem;
}

.cardItem__body {
    color: var(--grey-med);
    min-height: 1em;
    margin-bottom: 2rem;
}

.artifactStats {
    display: flex;
}
.artifactStats__meta {
    flex: 1;
}
.artifactStats__meta > span {
    display: inline-block;
    margin-right: 1rem;
} .artifactStats__meta > span:last-child {
    margin-right: 0;
}
.artifactStats__updated {
    color: var(--grey-med);
    font-size: 1.4rem;
}
.artifactStats__labels {
    flex: 1;
    text-align: right;
} .artifactStats__labels > a {
    display: inline-block;
    background: var(--grey-light);
    text-decoration: none !important;
    color: inherit !important;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    padding: 0.2rem 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
} .artifactStats__labels > a:last-child {
    margin-right: 0;
} .artifactStats__labels > .artifactStats__chameleonSupported {
    background: none;
    padding: 0;
}

.sidebarHeading {}
.sidebarHeading h1 {
    font-size: 3.4rem;
    line-height: 1.25em;
    margin: 0 0 1rem;
    border: 0;
    color: var(--accent-primary);
} .sidebarHeading p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.sidebarNav {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;
    color: var(--link-color);
}
.sidebarNav__item {
    padding: 0.7rem 1rem;
} .sidebarNav__item.active {
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: .5rem;
} .sidebarNav__item .fa {
    margin-right: 0.5rem;
    width: 2rem;
    text-align: center;
} .sidebarNav__item a {
    text-decoration: none !important;
}

.sidebarNav__subnav {
    list-style: none;
    border-left: 2px solid var(--link-color);
    margin: 1rem -1rem 0 calc(1rem - 2px);
    padding: 0 0 0 1rem;
} .sidebarNav__subnav.empty {
    border-left: none;
}
.sidebarNav__subnavHeading,
.sidebarNav__subnav.empty {
    color: var(--grey-dark);
}

.artifactDetail {
    background: #ffffff;
    padding: 1.5rem;
    border: 1px solid #dadada;
    border-radius: 0.5rem;
    padding-bottom: 2em;
} .artifactDetail__heading {
    display: flex;
} .artifactTitle {
    flex: 1;
    margin: 0 0 0.5em;
    border: 0;
}

.artifactBody__description {
    margin-top: 0 !important;
    font-size: 2rem;
    padding-bottom: 0.5em;
}

.artifactBody section {
    margin-top: 1.5em;
}

.artifactBody__authors ul {
    list-style: none;
    padding: 0;
}

.artifactLaunchButton {
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
}
.artifactLaunchButton_details {
    margin-top: 1rem;
    font-size: 12px;
    opacity: 0.7;
}

.artifactVersions:not(:first-child) {
    margin-top: 2em;
}
.artifactVersions ol {
    list-style: none;
    padding: 0;
    flex: 1;
} .artifactVersions li {
    padding: 0.5rem 1rem;
} .artifactVersions li.selected {
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 0.5rem;
}

.artifactVersion__title {
    display: flex;
    flex: 1;
} .artifactVersion__title > span:first-child {
    flex: 1;
} .artifactVersion__title > span {
    display: block;
}

.artifactVersionDelete {
    display: flex;
    align-items: center;
}
.artifactVersionDelete__title {
    flex: 1;
}

.artifactVersion__doi {
    font-size: 12px;
}
