{% extends 'layout/default.html' %}
{% load bootstrap3 pipeline staticfiles markdown_deux_tags %}
{% block title %}Confirm Delete {{object.name}}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    {% stylesheet "appliance_catalog" %}
{% endblock %}

{% block content %}
    <div class="appCatalog">
        <h2>Delete Appliance {{object.name}}?</h2>
        <p class="lead">Are you sure you want to delete the appliance "{{ object.name }}"?</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Yes, Delete"/>
            <a class="btn btn-default" href="{% url 'appliance_catalog:app_detail' object.id %}">Cancel</a>
        </form>
    </div>
{% endblock %}
