{% extends 'layout/user.html' %}
{% load bootstrap3 %}

{% block title %}Create Appliance{% endblock %}

{% block content %}
{% if edit %}
     <h2>Edit Appliance</h2>
{% else %}
     <h2>Create Appliance</h2>
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% bootstrap_form appliance_form %}

  <div class="form-group">
      {% if edit %}
             <button type="submit" class="btn btn-success">Save Changes</button>
      {% else %}
             <button type="submit" class="btn btn-success">Create an Appliance</button>
      {% endif %}
    <a href="{% url 'appliance_catalog:app_list' %}" class="btn btn-default">Cancel</a>
  </div>
</form>

{% endblock %}