{% extends 'layout/user.html' %}
{% load bootstrap3 %}
{% block title %}Appliance Detail {% endblock %}
{% block content %}
    <h2>{{ appliance.name }}</h2>
    {% if appliance %}
        <div class="detail">
            <img src="{{ MEDIA_URL }}{{ appliance.appliance_icon }}" alt="App Icon">
            <div>{{ appliance.description }}</div>
        </div>
        <a class="btn btn-warning" href="{% url 'appliance_catalog:edit' appliance.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'appliance_catalog:delete' appliance.id %}">Delete</a>
    {% else %}
        <div class="alert alert-info">No appliance found. Please check if the url is correct.</div>
    {% endif %}
{% endblock %}
