<div class="col col-sm-2 thumbnail" ng-repeat="appliance in appsThisPage"
     ng-class="{'supported': appliance.project_supported, 'flagged': appliance.project_flagged}">
    <div class="thumbnail-content">
        <div><a ng-href="/appliance-catalog/detail/[[appliance.id]]">
            <img ng-src="/media/[[appliance.appliance_icon]]" class="app-icon"
                 alt="App Icon" ng-if="appliance.appliance_icon.length > 0">
            <img src="/static/appliance_catalog/images/default.svg" class="app-icon"
                 alt="App Icon" ng-if="!appliance.appliance_icon.length > 0">
        </a>
        </div>
        <div><a ng-href="/appliance-catalog/detail/[[appliance.id]]">[[appliance.name]]</a>
        </div>
        <div>[[appliance.description | characters:40 ]]</div>
    </div>
</div>
