<div class="appliance-grid appliance-content">
    <div class="appliance-grid-item corner-ribbon-container" ng-repeat="appliance in appsThisPage" ng-click="viewDetail(appliance.id)">
        <a ng-href="/appliances/[[appliance.id]]">
        <div class="thumbnail corner-ribbon-container text-center">
            <img ng-src="/media/[[appliance.appliance_icon]]" class="app-icon"
                 alt="App Icon" ng-if="appliance.appliance_icon.length > 0">
            <img src="/static/appliance_catalog/images/default.svg" class="app-icon"
                 alt="App Icon" ng-if="!appliance.appliance_icon.length > 0">
            <div class="caption">
                <div ng-if="appliance.needs_review">
                    <p class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> This appliance is under review.</p>
                </div>
                <h4><a ng-href="[[appliance.id]]/">[[appliance.name]] </a></h4>
                <p ng-bind="appliance.short_description"></p>
            </div>
            <div ng-if="appliance.project_supported" class="corner-ribbon chameleon-logo" title="Chameleon Official Image">Chameleon Official Image</div>
            <div ng-if="appliance.template" class="corner-ribbon top-right complex-logo" title="Complex Appliance"><i class='fa fa-sitemap' aria-hidden='true'></i></div>
        </div>
        </a>
    </div>
</div>
<div class="appliance-grid-padding"></div>
