{% load staticfiles %}

<script src="{% static 'appliance_catalog/vendor/json3/lib/json3.min.js' %}"></script>
<script src="{% static 'appliance_catalog/vendor/underscore/underscore-min.js' %}"></script>
<script src="{% static 'appliance_catalog/vendor/momentjs/min/moment.min.js' %}"></script>
<script src="{% static 'appliance_catalog/vendor/lodash/lodash.min.js' %}"></script>
<script src="{% static 'appliance_catalog/vendor/angular/angular.min.js' %}"></script>
<script src="{% static 'appliance_catalog/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script src="{% static 'appliance_catalog/vendor/angular-bootstrap-toggle-switch/angular-toggle-switch.min.js' %}"></script>
<script src="{% static 'appliance_catalog/vendor/angular-sanitize/angular-sanitize.js' %}"></script>
<script src="{% static 'appliance_catalog/customized_vendor/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js' %}"></script>
<script src="{% static 'appliance_catalog/customized_vendor/truncate/truncate.js' %}"></script>
<script src="{% static 'appliance_catalog/customized_vendor/django-angular/django-angular.js' %}"></script>
