{% extends 'layout/default.html' %}
{% load i18n cms_tags staticfiles compressed bootstrap3 %}
{% block title %}Appliance Catalog | Chameleon Cloud {% endblock %}
{% block styles %}
    {{ block.super }}
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'appliance_catalog/css/main.css' %}">
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'appliance_catalog/js/vendor.js' %}"></script>
    <script src="{% static 'appliance_catalog/js/main.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="content-main" class="appCatalog" ng-app="appCatalogApp" ng-cloak>
        <div class="content" ng-controller="AppCatalogController">
            <h2>Appliance Catalog</h2>
            <div><a class="btn btn-success" href="/appliance-catalog/create/">Add an appliance</a></div>
            <div class="form-group">
                <input class="form-control" type="text"
                       ng-keypress="($event.which === 13)?updateFiltered():angular.noop()"
                       placeholder="Search by name, description or author." ng-model="filter.searchKey"/>
                <toggle-switch ng-model="filter.andSearch" on-label="AND" off-label="OR" knob-label="">
                </toggle-switch>
                <div ng-dropdown-multiselect="" options="keywords" selected-model="filter.selectedKeywords"
                     extra-settings="multiselectSettings" translation-texts="multiselectCustomTexts"></div>
                <div>
                    <input type="button" value="Search" ng-click="updateFiltered()" class="btn btn-primary"/>
                    <input type="button" value="Reset" ng-click="reset()" class="btn btn-warning"/>
                    <span class="view-switch pseudo-link" ng-show="viewType=='grid'" tooltip="Switch to list view"  
                          tooltip-trigger="mouseenter" tooltip-placement="top" ng-click="changeViewType()">Table View &nbsp;
                        <span class="fa fa-list"></span>
                    </span>
                    <span class="view-switch pseudo-link" ng-show="viewType=='table'" tooltip="Switch to grid view"  
                          tooltip-trigger="mouseenter" tooltip-placement="top" ng-click="changeViewType()">Grid View &nbsp;
                        <span class="fa fa-table"></span>
                    </span>
                </div>
            </div>

            <div class="well spinner" ng-show="loading.appCatalog">
                <h4><span class="fa fa-spinner fa-spin"></span> Loading appliances...</h4>
            </div>
            <div ng-show="!loading.appCatalog">
                <div ng-show="isEmpty(messages.appCatalog)">
                    <div ng-show="!appliances || appliances.length < 1">
                        <alert type="warning">There are no appliances. You can create one
                            <a href="/appliance-catalog/create/">here</a>.
                        </alert>
                    </div>
                    <div ng-show="appliances && appliances.length > 0">
                        <div ng-show="viewType=='grid'" ng-include="'template/grid.html/'"></div>
                        <div ng-show="viewType=='table'" ng-include="'template/table.html/'"></div>
                        <h4 ng-show="filteredAppliances && filteredAppliances.length > appsPerPage"
                            class="pagination-header">
                            <pagination boundary-links="true" total-items="filteredAppliances.length"
                                        items-per-page="appsPerPage"
                                        ng-model="appsCurrentPage" ng-change="appsPageChanged(appsCurrentPage)"
                                        class="pagination-sm"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                        last-text="&raquo;"></pagination>
                            <small class="pagination-summary">Showing [[getPageIndex()]] of
                                [[filteredAppliances.length]]
                                appliances
                            </small>
                        </h4>
                    </div>
                </div>
                <div ng-show="!isEmpty(messages.appCatalog)">
                    <alert ng-repeat="msg in messages.appCatalog" type="[[msg.type]]">[[msg.body]]</alert>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
