<table class="table table-striped table-bordered">
    <tr>
        <th class="pseudo-link" ng-click="changeOrder('name')"> Name
            <span class="fa fa-caret-up" ng-if="predicate=='name' && !reverse"></span>
            <span class="fa fa-caret-down" ng-if="predicate=='name' && reverse"></span>
        </th>
        <th>Description</th>
        <th>Support</th>
        <th>Links</th>
    </tr>
    <tr ng-repeat="appliance in appsThisPage">
        <td class="name-column">
            <div><a ng-href="[[appliance.id]]/">
                <img ng-src="/media/[[appliance.appliance_icon]]"
                     class="app-icon app-icon-table"
                     alt="App Icon" ng-if="appliance.appliance_icon.length > 0">
                <img src="/static/appliance_catalog/images/default.svg"
                     class="app-icon app-icon-table"
                     alt="App Icon" ng-if="!appliance.appliance_icon.length > 0">
            </a>
            </div>
            <div><a ng-href="[[appliance.id]]/">[[appliance.name]]</a>
            </div>
        </td>
        <td ng-bind="appliance.short_description"></td>
        <td>
            <div>[[appliance.support_contact_name]]</div>
            <div>
                <a ng-if="appliance.support_contact_url.indexOf('http') === 0" href="[[appliance.support_contact_url]]">[[appliance.support_contact_url]]</a>
                <a ng-if="appliance.support_contact_url.indexOf('http') !== 0" href="mailto:[[appliance.support_contact_url]]">[[appliance.support_contact_url]]</a>
            </div>
        </td>
        <td>
            <div ng-if="appliance.documentation">
                <a href="[[ appliance.id ]]/docs" class="btn btn-sm btn-block btn-info">Docs</a>
            </div>
            <div ng-if="appliance.chi_tacc_appliance_id">
                <a target="_blank" class="btn btn-sm btn-block btn-primary"
                   ng-href="https://chi.tacc.chameleoncloud.org/dashboard/project/images/[[ appliance.chi_tacc_appliance_id]]/">
                    CHI@TACC</a>
            </div>
            <div ng-if="appliance.chi_uc_appliance_id">
                <a target="_blank" class="btn btn-sm btn-block btn-primary"
                   ng-href="https://chi.uc.chameleoncloud.org/dashboard/project/images/[[appliance.chi_uc_appliance_id]]/">
                    CHI@UC</a>
            </div>
            <div ng-if="appliance.kvm_tacc_appliance_id">
                <a target="_blank" class="btn btn-sm btn-block btn-primary"
                   ng-href="https://openstack.tacc.chameleoncloud.org/dashboard/project/images/[[appliance.kvm_tacc_appliance_id]]/">
                    KVM@TACC</a>
            </div>
            <div ng-if="appliance.template">
                <a class="btn btn-sm btn-block btn-primary"
                   ng-href="/appliances/api/appliances/[[appliance.id]]/template"><i class="fa fa-download"></i> Get Template</a>
            </div>
            <div ng-if="appliance.template">
           <!-- <a target="_blank" class="btn btn-sm btn-block btn-primary"
               ng-href="https://chi.uc.chameleoncloud.org/dashboard/project/stacks/">Launch Complex Appliance
                at CHI@UC</a>&nbsp;
            &nbsp;&nbsp;
            <a target="_blank" class="btn btn-sm btn-block btn-primary"
               ng-href="https://openstack.tacc.chameleoncloud.org/dashboard/project/stacks/">Launch Complex Appliance
                at CHI@TACC</a>-->
            <a target="_blank" class="btn btn-sm btn-block btn-primary"
               ng-href="https://qa.tacc.chameleoncloud.org/dashboard/project/stacks/">QA</a>
            </div>
        </td>
    </tr>
</table>
