{% extends 'layout/user.html' %}
{% load staticfiles bootstrap3 chameleon_tags %}
{% block title %}Add Publications for Project - {{ project.chargeCode }}{% endblock %}
{% block content %}

<h2>
    Add Publications for {{ project.title }} |
  <small>{{ project.chargeCode }}</small>
</h2>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <th>PI</th>
        <td>
          {{ project.pi.firstName }} {{ project.pi.lastName }} <a href="mailto:{{ project.pi.email }}">&lt;{{ project.pi.email }}&gt;</a>,
          {{ project.pi.institution}}
        </td>
      </tr>
      <tr>
        <th>Nickname</th>
        <td>
          {% if is_pi %}
            <span id='project_nickname'>{{ project_nickname|default_if_none:'' }}</span><span id='icon_show_edit' title="Edit" style="padding-left: 5px;" class="glyphicon glyphicon-edit"></span>
            <span id='project_edit_form' class='hidden'>
            <form method="POST" id='frm_edit_nickname' name='frm_edit_nickname'>
              {% csrf_token %}
              {% bootstrap_form nickname_form %}
            <button type="submit" class="btn btn-xs" id="btn_update_project_nickname">Update</button>
            <button type="button" class="btn btn-xs" id="btn_cancel">Cancel</button>
            </form>
          </span>
          {% else %}
            <span id='project_nickname'>{{ project_nickname|default_if_none:'' }}</span>
          {% endif %}
          </td>
      </tr>
      <tr>
        <th>Abstract</th>
        <td style="white-space:pre-wrap;">{{ project.description }}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{ project.type }}</td>
      </tr>
      <tr>
        <th>Field of Science</th>
        <td>{{ project.field }}</td>
      </tr>
    </tbody>
  </table>
</div>

<form method="post">
    {% csrf_token %}
  
    {% bootstrap_form form %}
  
    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit Publication(s)</button>
    </div>
  </form>

{% endblock %}