{% extends "layout/default.html" %}

{% block content %}
<h1>Announcements</h1>

{% if recent_announcements or older_announcements %}
  {% for announcement in recent_announcements %}
  <div class="col-6">
    {% include "news/includes/announcement_block.html" %}
  </div>
  {% endfor %}
  <div class="col-12">
  {% if older_announcements %}
<h2>Older Announcements</h2>
    {% with older_announcements as announcements %}
      {% include "news/includes/announcements.html" %}
    {% endwith %}
  {% endif %}
  </div>
{% else %}
  <p>No announcements have been posted.</p>
{% endif %}

{% endblock %}
