{% extends "layout/default.html" %}

{% block content %}
<h1>Events</h1>

{% if recent_events or older_events %}
  {% for event in recent_events %}
  <div class="col-6">
    {% include "news/includes/event_block.html" %}
  </div>
  {% endfor %}
  <div class="col-12">
  {% if older_events %}
<h2>Older Events</h2>
    {% with older_events as events %}
      {% include "news/includes/events.html" %}
    {% endwith %}
  {% endif %}
  </div>
{% else %}
  <p>No events have been posted.</p>
{% endif %}

{% endblock %}
