.allocation-inactive{
  visibility:collapse;
}

.allocation-rejected{
  visibility:collapse;
}

.label-pending, .label-waiting{
  background-color: #F0AD4E;
}

.label-approved, .label-active {
  background-color: #74A93C;
}
