{% load i18n easy_thumbnails_tags cms_tags %}

<article id="post-{{ post.slug }}" class="post-item item
    {% if forloop.first %} active{% endif %}">
    <div class="row well" style="margin: 1em 2em; height: 15em;">
        <div class="col-md-8">
            <header>
                <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                {% if post.subtitle %}
                <h5>{{ post.subtitle }}</h5>
                {% endif %}
                {% block blog_meta %}
                {% include "djangocms_blog/includes/blog_meta.html" %}
                {% endblock %}
            </header>
            <div class="blog-lead">
                {% render_model post "abstract" "" "" "truncatewords_html:15|safe" %}
            </div>
            <footer class="read-more">
                <a href="{{ post.get_absolute_url }}">{% trans "read more" %} &raquo;</a>
            </footer>
        </div>
        <div class="col-md-4">
            {% if image and post.main_image %}
            <img src="{{ post.main_image.url  }}" alt="{{ post.main_image.default_alt_text }}"
                class="img-thumbnail img-responsive" />
            {% endif %}
        </div>
    </div>
</article>