{% load static %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'django' %}

<div class="plugin plugin-blog glide">

  <div class="glide-arrow-container">
    <h3>
      <span>Recent news</span>
      <span class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </span>
    </h3>
  </div>

  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides blog-latest-entries">
      {% for post in posts_list %}
      <li class="glide__slide">
        <div class="slide-container">
          <div class="slide-content">
            {% include "./carousel_blog_item.html" with post=post image="true" TRUNC_COUNT=200 %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% render_bundle 'frontpage_carousel' %}
