{% load static %}
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/slider.css' %}">
<script src="{% static 'sharing/dropdown.js' %}"></script>
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/style.css' %}">
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/artifacts.css' %}">
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/upload.css' %}">

<div class="main">
<div class="container">
<div id="content-main" class="artCatalog" app="researchSharingApp">

    <h2>
        <span class="art-title"> Upload to Chameleon Sharing </span>
    </h2>
    <form action='' method="post" class="upload_form">
        <p style="font-weight:bold"> Add any additional details you wish, and press 'Submit' to share </p>
    <div>
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <div class="submit-btn">
        <input type="submit" value="Submit" class = "btn btn-primary">
        </div>
    </div>
    </form>

</div>
</div>
</div>
