{% load static %}
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/slider.css' %}">
<script src="{% static 'sharing/dropdown.js' %}"></script>
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/style.css' %}">
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/artifacts.css' %}">
<link rel="stylesheet" type = "text/css" href="{% static 'sharing/upload.css' %}">

<div class="main">
<div class="container">
<div id="content-main" class="artCatalog" app="researchSharingApp">

    <p> Please wait while your content is uploaded </p>

</div>
</div>
</div>
