{% extends 'layout/default.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="row">
  <div class="col-md-7">
    <p>
      Cloud services have become ubiquitous to all major 21st century economic
      activities. However, cloud services and technologies can be significantly
      more powerful than they are now. A persistent barrier to further
      advancement has been the lack of a large-scale and open cloud research
      platforms.
    </p>
    <p>
      With funding from the National Science Foundation (NSF), the Chameleon project will provide such a
      large-scale platform to the open research community allowing them explore transformative concepts in
      deeply programmable cloud services, design, and core technologies. Chameleon will allow users to
      explore problems ranging from the creation of Software as a Service to kernel support for
      virtualization. This broad range of supported research includes many other areas such as developing
      Platforms as a Service, creating new and optimizing existing Infrastructure as a Service components,
      investigating software-defined networking, and optimizing virtualization technologies.
    </p>
    <p>
      The Chameleon testbed, will be deployed at the University of Chicago and the Texas Advanced Computing
      Center and will consist of 650 multi-core cloud nodes, 5PB of total disk space, and leverage 100 Gbps
      connection between the sites. While a large part of the testbed will consist of homogenous hardware to
      support large-scale experiments, a portion of it will support heterogeneous units allowing
      experimentation with high-memory, large-disk, low-power, GPU, and co-processor units. The project will
      also leverage existing FutureGrid hardware at the University of Chicago and the Texas Advanced Computing
      Center in its first year to provide a transition period for the existing FutureGrid community of
      experimental users.
    </p>
    <p>
      To support the broad range of experiments experiments described above, the project will support a
      graduated configuration system allowing full user configurability of the software stack, from
      provisioning of bare metal and network interconnects to delivery of fully functioning cloud
      environments.  A special feature of Chameleon is that it provides for an exceptionally close integration
      of clouds and networks, which substantially enhances the capabilities of both.  In addition, to
      facilitate experiments, Chameleon will support a set of services designed to meet researchers needs,
      including support for experimental management, reproducibility, and repositories of trace and workload
      data of production cloud workloads.
    </p>
    <p>
      The project is led by the Computation Institute at the University of Chicago and partners from the Texas
      Advanced Computing Center at the University of Texas at Austin, the International Center for
      Advanced Internet Research at Northwestern University, the Ohio State University, and University of
      Texas at San Antonio, comprising a highly qualified and experienced team.  The team includes members
      from the NSF supported FutureGrid project and from the GENI community, both forerunners of the NSFCloud
      solicitation under which this project is funded.  Chameleon will also form a set of partnerships with
      commercial and academic clouds, such as Rackspace, CERN and Open Science Data Cloud (OSDC), and will
      partner with other testbeds, notably GENI and INRIA's Grid'5000 testbed.
    </p>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <h2>Team</h2>
    {% for member in team %}
      {% include 'github_content/team_member.html' %}
    {% endfor %}
  </div>
</div>
{% endblock %}
