{% extends 'layout/default.html' %}

{% load kramdown_tags %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="article-list">
{% for meta, content in posts %}
  <article>
    <header class="post-header">
      <h2><a href="{{ meta.url }}">{{ meta.title }}</a></h2>
      <p class="meta">Posted on {{ meta.date }} by {{ meta.author }}</p>
    </header>
    <div class="post-content">
      {% if meta.image %}
        <img src="{% static meta.image %}" class="img-responsive pull-left" style="margin: 0 1em 1em 0">
      {% endif %}
      {{ content|kramdown }}
    </div>
  </article>
{% endfor %}
</div>
{% endblock %}
