{% load staticfiles %}
{% load kramdown_tags %}

<article class="block">
  <div class="row">
    {% if post.meta.image %}
    <div class="col-xs-4">
      <img src="{% static post.meta.image %}" class="img-responsive center-block">
    </div>
    {% endif %}
    <div class="col-xs-{% if post.meta.image %}8{% else %}12{% endif %}">
      <header class="post-header">
        <h2><a href="{{ post.meta.url }}">{{ post.meta.title }}</a> <small>| {{ post.meta.date|date:"M j, Y" }}</small></h2>
      </header>

      <div class="post-content">
        {{ post.teaser | kramdown }}
      </div>
    </div>
  </div>
  <a href="{{ post.meta.url }}" class="read-more">Read More</a>
</article>
