{% load staticfiles %}
<html>
<head>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static " bootstrap/css/bootstrap.css " %}">
    <link rel="stylesheet" type="text/css" href="{% static " css/custom.css " %}"> {% endblock css %}
</head>
{% block content %}
<body ng-app="discoveryApp" class="discovery-app" ng-cloak>
    <div class="content" ng-controller="AppController">
        <div ng-if="loading" class="well">
            <h4><span class="fa fa-refresh fa-spin"></span> Loading...</h4>
        </div>
        <div ng-if="! loading">
            <div ng-if="loadingError" class="well alert alert-error">There was an error. Please try again.</div>
            <div ng-if="! loadingError">
                <div class="col col-sm-12">
                    <div>
                        <h3 class="title">Nodes</h3>
                        <div>
                            <strong>[[allNodes.length]] nodes</strong>
                            <span ng-if="selectedNodes.length !== allNodes.length">
                filtered from [[allnodes.length]] originally.
                (<button ng-click="resetUI()">Reset all Filters</button>)
              </span>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-12">
                    <h4>Facets</h4>
                        <!--
                            <h5 class="list-group-item-heading">Search</h5>
                            <div>
                                <input type="text" class="form-control" name="searchKey" ng-model="filter.search" ng-change="search()">
                            </div>
                        -->
                        <div ng-repeat="(key, value) in filters">
                            <h5 class="list-group-item-heading">[[key]]</h5>
                            <div ng-repeat="(k, v) in value" class="checkbox">
                                <label>
                                    <input type="checkbox" name="[[k]]" ng-model="appliedFilters" ng-change="applySiteFilter(site.uid)"> [[k]] ([[value.length]])
                                </label>
                            </div>
                        </div>
                        <!--
                            <h5 class="list-group-item-heading">Virtual Support</h5>
                            <div ng-repeat="(key, value) in map.virtual_support" class="checkbox">
                                <label>
                                    <input type="checkbox" name="key" ng-model="filter.selectedVirtualSupport[key]" ng-change="preApplyOtherFilters('virtual_support')"> [[key]] ([[value.count]])
                                </label>
                            </div>
                            -->
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %} {% block js %}
<script src="{% static " underscore/underscore.js " %}"></script>
<script src="{% static " angular/angular.js " %}"></script>
<script src="{% static "djangular/js/django-angular.min.js" %}"></script>
<script src="{% static " scripts/app.js " %}"></script>
<script src="{% static " scripts/factory.js " %}"></script>
<script src="{% static " scripts/controller.js " %}"></script>
{% endblock js %}
</html>
