{% extends 'layout/default.html' %} {% load sekizai_tags staticfiles %} {% block title %}Chameleon Resource Browser{% endblock %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'g5k_discovery/css/main.css' %}"> {% endblock %} {% block content %}
<div>
    <h1>Availability</h1>
            <div class="row">
                <div class="col col-sm-3">
                    <a target="blank" href="https://chi.tacc.chameleoncloud.org/dashboard/project/leases/calendar/" class="btn btn-lg btn-primary btn-filter btn-block">CHI@TACC</a>
                </div>
                <div class="col col-sm-3">
                    <a target="blank" href="https://chi.uc.chameleoncloud.org/dashboard/project/leases/calendar/" class="btn btn-lg btn-primary btn-filter btn-block">CHI@UC</a>
                </div>
                <div class="col col-sm-3">
                    <a target="_self" href="/chi-nu" class="btn btn-lg btn-primary btn-filter btn-block">CHI@NU</a>
                </div>
            </div>
</div>
<h1 class="title">Chameleon Resource Browser</h1>
<br />
<div ng-app="discoveryApp" class="discovery-app" ng-cloak>
    <div class="content" ng-controller="MainController">
        <div ng-show="showSingleValuesWarning" class="alert alert-warning">Currently reserving based on only single parameter filter is supported.</div>
        <div ng-include="'template/filters.html'" ng-if="!showNodes"></div>
        <div ng-if="showNodes" ng-init="viewLoading = true;">
            <div ng-if="viewLoading" class="well">
                <h4><span class="fa fa-refresh fa-spin"></span> Loading nodes...</h4>
            </div>
            <div ng-include="'template/nodes.html/'" onload="viewLoading = false;"></div>
        </div>
    </div>
</div>
{% endblock content %} {% block scripts %}
<script src="{% static 'g5k_discovery/js/vendor.js' %}"></script>
<script src="{% static 'g5k_discovery/js/app.js' %}"></script>
<script src="{% static 'g5k_discovery/js/factory.js' %}"></script>
<script src="{% static 'g5k_discovery/js/controllers/main_controller.js' %}"></script>
<script src="{% static 'g5k_discovery/js/controllers/modal_controller.js' %}"></script>
<script src="{% static 'g5k_discovery/js/controllers/node_controller.js' %}"></script>
{% endblock %}
