{% extends 'layout/default.html' %} {% load sekizai_tags staticfiles %} {% block title %}Resource Discovery{% endblock %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'g5k_discovery/css/main.css' %}"> {% endblock %} {% block content %}

<h1 class="title">Resource Discovery</h1>
<div ng-app="discoveryApp" class="discovery-app" ng-cloak>
    <div class="content" ng-controller="MainController">
        <div ng-include="'template/filters.html'" ng-if="!showNodes"></div>
        <div ng-if="showNodes" ng-init="viewLoading = true;">
            <div ng-if="viewLoading" class="well">
                <h4><span class="fa fa-refresh fa-spin"></span> Loading nodes...</h4>
            </div>
            <div ng-include="'template/nodes.html/'" onload="viewLoading = false;"></div>
        </div>
    </div>
</div>
{% endblock content %} {% block scripts %}
<script src="{% static 'g5k_discovery/js/vendor.js' %}"></script>
<script src="{% static 'g5k_discovery/js/main.js' %}"></script>
{% endblock %}
