<dl>
  <dt>Accounts</dt>
  <dd>{% for account in  item.accounts %}login: {{ account.login }}; password: {{ account.password }}<br>{% endfor %}</dd>

  <dt>Applications</dt>
  <dd>{{ item.applications | join:", " }}</dd>

  <dt>Based on</dt>
  <dd>{{ item.based_on }}</dd>

  <dt>Consoles</dt>
  <dd>{% for console in item.consoles %}bps: {{ console.bps }}; port: {{ console.port }}<br>{% endfor %}</dd>

  <dt>File</dt>
  <dd><code>{{ item.file.path }}</code><br>md5: <code>{{ item.file.md5 }}</code></dd>

  <dt>Kernel</dt>
  <dd>{{ item.kernel }}</dd>

  <dt>Max open files</dt>
  <dd>{{ item.max_open_files }}</dd>

  {% if item.services %}
    <dt>Services</dt>
    <dd>{{ item.services | join:", " }}</dd>
  {% endif %}

  <dt>State</dt>
  <dd>{{ item.state }}</dd>

  <dt>TCP bandwidth</dt>
  <dd>{{ item.tcp_bandwidth }}</dd>

  <dt>Valid on</dt>
  <dd>{{ item.valid_on | join:", " }}</dd>

  <dt>X11 forwarding</dt>
  <dd>{{ item.x11_forwarding | yesno }}</dd>

  <dt>Version</dt>
  <dd>{{ item.version }}</dd>

</dl>
