<div ng-if="loading" class="well">
    <h4><span class="fa fa-refresh fa-spin"></span> Loading...</h4>
</div>
<div ng-if="!loading">
    <div ng-if="loadingError" class="well alert alert-error">There was an error. Please try again.</div>
    <div ng-if="!loadingError">
        <p class="lead">Filter nodes using the options below, then generate a reservation script to reserve those nodes.</p>
        <h4>
            Applied Filters:
            <span ng-show="filteredNodesOrg.length === allNodes.length"> None</span>
            <span ng-show="filteredNodesOrg.length !== allNodes.length" ng-repeat="(key, value) in flatAppliedFilters" class="label label-default label-filter">
            <span class="label-text">[[snakeToReadable(key, value)]]<span ng-show="isShowValTag(key, value)">: [[value]]</span> &nbsp;
            <i ng-click="removeFilter(key, value)" class="pseudolink fa fa-times"></i>
            </span>
            </span>            
        </h4>
        <h4 class="filter-state"><strong>[[filteredNodesOrg.length]] node<span ng-show="filteredNodesOrg.length > 1">s</span></strong>
            <span ng-show="filteredNodesOrg.length !== allNodes.length">
                filtered from [[allNodes.length]] originally.
            </span>
        </h4>
        <div class="row">
            <div class="col col-sm-3">
                <button type="button" class="btn btn-lg btn-primary btn-filter btn-block" ng-model="appliedFilters.architecture.smt_size[48]" ng-change="applyFilter()" ng-disabled="shouldDisable(['architecture', 'smt_size', 48], filterArchitecture.smt_size['48'].length)" btn-checkbox><i class="fa fa-check-square-o" ng-show="appliedFilters.architecture['smt_size'][48] || filterArchitecture.smt_size['48'].length === filteredNodesOrg.length"></i> Compute Nodes <span ng-show="filterArchitecture.smt_size['48'].length > 0">([[filterArchitecture.smt_size['48'].length]])</span></button>
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-lg btn-primary btn-filter btn-block" ng-model="appliedFilters.gpu.gpu['yes']" ng-change="applyFilter()" ng-disabled="shouldDisable(['gpu', 'gpu', 'yes'], filterGpu.gpu['yes'].length)" btn-checkbox><i class="fa fa-check-square-o" ng-show="appliedFilters.gpu.gpu['yes'] || filterGpu.gpu['yes'].length === filteredNodesOrg.length"></i> With GPU <span ng-show="filterGpu.gpu['yes'].length > 0">([[filterGpu.gpu['yes'].length]])</span></button>
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-lg btn-primary btn-filter btn-block" ng-model="appliedFilters.network_adapters[4].interface.InfiniBand" ng-change="applyFilter()" ng-disabled="shouldDisable(['network_adapters', 4, 'interface', 'InfiniBand'], filters.network_adapters[4].interface.InfiniBand.length)" btn-checkbox><i class="fa fa-check-square-o" ng-show="appliedFilters.network_adapters[4].interface.InfiniBand || filters.network_adapters[4].interface.InfiniBand.length === filteredNodesOrg.length"></i> Infiniband <span ng-show="filters.network_adapters[4].interface.InfiniBand.length > 0">([[filters.network_adapters[4].interface.InfiniBand.length]])</span></button>
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-lg btn-primary btn-filter btn-block" ng-model="appliedFilters.main_memory.ram_size['549755813888']" ng-change="applyFilter()" ng-disabled="shouldDisable(['main_memory', 'ram_size', '549755813888'], filterRamSize['512 GiB'].length)" btn-checkbox><i class="fa fa-check-square-o" ng-show="appliedFilters.main_memory.ram_size['549755813888']"></i> Storage Hierarchy <span ng-show="filterRamSize['512 GiB'].length">([[filterRamSize['512 GiB'].length]])</span></button>
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-lg btn-primary btn-filter btn-block" ng-model="appliedFilters.storage_devices[16].device.sdq" ng-change="applyFilter()" ng-disabled="shouldDisable(['storage_devices', 16, 'device', 'sdq'], filters.storage_devices[16].device.sdq.length)" btn-checkbox><i class="fa fa-check-square-o" ng-show="appliedFilters.storage_devices[16].device.sdq || filters.storage_devices[16].device.sdq.length === filteredNodesOrg.length"></i> Storage Nodes <span ng-show="filters.storage_devices[16].device.sdq.length > 0">([[filters.storage_devices[16].device.sdq.length]])</span></button>
            </div>
            <div class="col col-sm-3">
                <button type="button" class="btn btn-lg btn-primary btn-filter btn-block" ng-model="appliedFilters.node_type['fpga']" ng-change="applyFilter()" ng-disabled="shouldDisable(['node_type', 'fpga'], filters.node_type['fpga'].length)" btn-checkbox><i class="fa fa-check-square-o" ng-show="appliedFilters.node_type['fpga'] || filters.node_type['fpga'].length === filteredNodesOrg.length"></i> FPGA <span ng-show="filters.node_type['fpga'].length > 0">([[filters.node_type['fpga'].length]])</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2 filter-block">
                <strong>Site</strong>
                <div ng-repeat="(key, value) in filterSite track by $index" ng-class="{'disabled' : shouldDisable(['site', key], value.length)}">
                    <input type="checkbox" name="[[key]]" id="[[key]]" ng-model="appliedFilters.site[key]" ng-change="applyFilter()" ng-disabled="shouldDisable(['site', key], value.length)" ng-checked="value.length === filteredNodesOrg.length">
                    <label class="filter-label" for="[[key]]">[[snakeToReadable(key)]] ([[value.length]])</label>
                </div>
            </div>
            <div class="col col-sm-2 filter-block">
                <strong>Cluster</strong>
                <div ng-repeat="(key, value) in filterCluster track by $index" ng-class="{'disabled' : shouldDisable(['cluster', key], value.length)}">
                    <input type="checkbox" name="[[key]]" id="[[key]]" ng-model="appliedFilters.cluster[key]" ng-change="applyFilter()" ng-disabled="shouldDisable(['cluster', key], value.length)" ng-checked="value.length === filteredNodesOrg.length">
                    <label class="filter-label" for="[[key]]">[[snakeToReadable(key)]] ([[value.length]])</label>
                </div>
            </div>
            <div ng-repeat="(key, value) in filterArchitecture track by $index" class="col col-sm-2 filter-block">
                <strong>[[snakeToReadable(key)]]</strong>
                <div ng-repeat="(k, v) in value track by $index" ng-class="{'disabled' : shouldDisable(['architecture', key, k], v.length)}">
                    <input type="checkbox" name="[[key]][[k]]" id="[[key]][[k]]" ng-model="appliedFilters.architecture[key][k]" ng-change="applyFilter()" ng-disabled="shouldDisable(['architecture', key, k], v.length)" ng-checked="v.length === filteredNodesOrg.length">
                    <label class="filter-label" for="[[key]][[k]]">[[snakeToReadable(k)]] ([[v.length]])</label>
                </div>
            </div>
            <div class="col col-sm-2 filter-block">
                <strong>RAM Size</strong>
                <div ng-repeat="(key, value) in filterRamSize track by $index" ng-class="{'disabled' : shouldDisable(['main_memory', 'humanized_ram_size', key], value.length)}">
                    <input type="checkbox" name="[[key]]" id="[[key]]" ng-model="appliedFilters.main_memory.humanized_ram_size[key]" ng-change="applyFilter()" ng-disabled="shouldDisable(['main_memory', 'humanized_ram_size', key], value.length)" ng-checked="value.length === filteredNodesOrg.length">
                    <label class="filter-label" for="[[key]]">[[snakeToReadable(key)]] ([[value.length]])</label>
                </div>
            </div>
        </div>
        <div ng-init="advancedCollapsed = true">
            <div><a ng-click="advancedCollapsed = !advancedCollapsed" ng-show="advancedCollapsed" class="pseudolink">Show Advanced Filters</a></div>
            <div ng-show="!advancedCollapsed">
                <h4 class="bg-primary">Advanced Filters</h4>
                <div>
                    <input type="text" name="filterSearch" ng-model="advancedFilter.search" ng-change="filterSearch()" class="filter-search" ng-model-options="{debounce: 500}" placeholder="Search by space separated keywords.">
                    <toggle-switch ng-model="advancedFilter.allKeys" on-label="ALL" off-label="ANY" knob-label="" ng-change="filterSearch()">
                    </toggle-switch>
                    <button class="btn btn-sm" ng-click="advancedFilter.search = '';filterSearch()">Clear</button>
                </div>
            </div>
        </div>
        <div class="advanced-filter">
            <div ng-repeat="(key, value) in advancedFilters track by $index" class="filter-section" ng-show="!advancedCollapsed">
                <div ng-if="!isNestedObject(value) && !isArray(value)" class="row">
                    <div class="advanced-filter-block">
                        <strong>[[snakeToReadable(key)]]</strong>
                        <div ng-repeat="(k, v) in value track by $index" ng-class="{'disabled' : shouldDisable([key, k], v.length)}">
                            <input type="checkbox" name="[[key]][[k]]" id="[[key]][[k]]" ng-model="appliedFilters[key][k]" ng-change="applyFilter()" ng-disabled="shouldDisable([key, k], v.length)" ng-checked="v.length === filteredNodesOrg.length">
                            <label class="filter-label" for="[[key]][[k]]">[[snakeToReadable(k)]] ([[v.length]])</label>
                        </div>
                    </div>
                </div>
                <div ng-if="isArray(value) && value.length > 0 && !isEmptyArrayNested(value)">
                    <h5 class="bg-success pseudolink"><strong>[[snakeToReadable(key)]]</strong>
                        </h5>
                    <div ng-repeat="val in value track by $index" ng-init="arrayIndex = $index;" ng-if="!isEmpty(val)">
                        <h5 class="bg-info pseudolink"><strong>[[snakeToReadable(key)]] #[[$index]]</strong>
                        </h5>
                        <div>
                            <div ng-repeat="(ky, vl) in val track by $index" class="advanced-filter-block">
                                <strong>[[snakeToReadable(ky)]]</strong>
                                <div ng-repeat="(k, v) in vl track by $index" ng-class="{'disabled' : shouldDisable([key, arrayIndex, ky, k], v.length)}">
                                    <input type="checkbox" name="[[key]][[arrayIndex]][[ky]][[k]]" id="[[key]][[arrayIndex]][[ky]][[k]]" ng-model="appliedFilters[key][arrayIndex][ky][k]" ng-change="applyFilter()" ng-disabled="shouldDisable([key, arrayIndex, ky, k], v.length)" ng-checked="v.length === filteredNodesOrg.length">
                                    <label class="filter-label" for="[[key]][[arrayIndex]][[ky]][[k]]">[[snakeToReadable(k)]] ([[v.length]])</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="isNestedObject(value) && !isArray(value)">
                    <h5 class="bg-success pseudolink"><strong>[[snakeToReadable(key)]]</strong>
                        </h5>
                    <div>
                        <div ng-repeat="(ky, vl) in value track by $index" class="advanced-filter-block">
                            <strong>[[snakeToReadable(ky)]]</strong>
                            <div ng-repeat="(k, v) in vl track by $index" ng-class="{'disabled' : shouldDisable([key, ky, k], v.length)}">
                                <input type="checkbox" name="[[key]][[ky]][[k]]" id="[[key]][[ky]][[k]]" ng-model="appliedFilters[key][ky][k]" ng-change="applyFilter()" ng-disabled="shouldDisable([key, ky, k], v.length)" ng-checked="v.length === filteredNodesOrg.length">
                                <label class="filter-label" for="[[key]][[ky]][[k]]">[[snakeToReadable(k)]] ([[v.length]])</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="filter-state"><strong>[[filteredNodesOrg.length]] node<span ng-show="filteredNodesOrg.length > 1">s</span></strong>
            <span ng-show="filteredNodesOrg.length !== allNodes.length">
                filtered from [[allNodes.length]] originally.
            </span>
        </h4>
        <div>
            <span ng-controller="ModalController"><button class="btn btn-sm btn-success" ng-click="open()">Reserve</button>
                    </span>
            <button class="btn btn-sm btn-info" ng-click="changeView()">View</button>
            <button class="btn btn-sm" ng-click="resetFilters()">Reset</button>
        </div>
    </div>
</div>
