{% extends 'layout/default.html' %} {% load sekizai_tags staticfiles %} {% block title %}Chameleon Resource Browser{% endblock %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'g5k_discovery/css/main.css' %}"> {% endblock %} {% block content %}

<h2>Details for node {{ node.uid }}</h2>
{{ resource }}
<div ng-app="discoveryApp" class="discovery-app" ng-controller="NodeController" ng-init="initLink('{{resource}}');">
        <section>
            <div class="row">
                <div class="col col-sm-3">
                    <strong>Site: </strong> SUMTHIN
                </div>
                <div class="col col-sm-3">
                    <strong>Cluster: </strong> AMPTJER
                </div>
                [[ node.architecture ]]
                <div ng-repeat="(ky, vl) in node.architecture track by $index" class="col col-sm-3">
                    key [[ky]]  value [[vl]]
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>
                <div ng-repeat="(ky, vl) in node.main_memory track by $index" class="col col-sm-3" ng-if="ky.indexOf('humanized') === -1">
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>
                <div class="col col-sm-3">
                    <strong>Node Type: </strong> {{ node.node_type }}
                </div>
                <!--<div ng-repeat="(ky, vl) in node.gpu track by $index" class="col col-sm-3">
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>-->
                <div ng-repeat="(ky, vl) in node.monitoring track by $index" class="col col-sm-3">
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>
                <div class="col col-sm-3">
                    <strong>Version: </strong> {{ node.version }}
                </div>
            </div>
            <div ng-repeat="(key, value) in node track by $index" ng-if="!contains(['site', 'cluster', 'uid', 'version', 'architecture', 'main_memory', 'monitoring'], key)">
                <div ng-if="!isObject(value) && !isArray(value) && value !== null && value !== ''" class="row">
                    <div class="col col-sm-3">
                        <strong>[[snakeToReadable(key)]]: </strong>[[value]]
                    </div>
                </div>
                <div ng-if="isArray(value)" ng-init="collapsed = true">
                    <h5 class="bg-success pseudolink" ng-click="collapsed = !collapsed"><strong>[[snakeToReadable(key)]]</strong>
                             <span ng-show="!collapsed" class="pull-right">Less&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span>
                             <span ng-show="collapsed" class="pull-right">More&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                        </h5>
                    <div ng-repeat="val in value track by $index" ng-show="!collapsed" ng-init="arrayIndex = $index; innerCollapsed = true">
                        <h5 class="bg-info"><strong>[[snakeToReadable(key)]] #[[$index]]</strong></h5>
                        <div class="row">
                            <div ng-repeat="(ky, vl) in val track by $index" class="col col-sm-3" ng-if="vl !== null && vl !== '' && ky.indexOf('humanized') === -1">
                                <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="isObject(value) && !isArray(value)">
                    <h5 class="bg-success"><strong>[[snakeToReadable(key)]]</strong></h5>
                    <div class="row">
                        <div ng-repeat="(ky, vl) in value track by $index" ng-show="!collapsed" class="col col-sm-3" ng-if="vl !== null && vl !== ''">
                            <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
{% endblock content %}{% block scripts %}
<script src="{% static 'g5k_discovery/js/vendor.js' %}"></script>
<script src="{% static 'g5k_discovery/js/app.js' %}"></script>
<script src="{% static 'g5k_discovery/js/factory.js' %}"></script>
<script src="{% static 'g5k_discovery/js/controllers/main_controller.js' %}"></script>
<script src="{% static 'g5k_discovery/js/controllers/modal_controller.js' %}"></script>
<script src="{% static 'g5k_discovery/js/controllers/node_controller.js' %}"></script>
{% endblock %}

