<h2 class="title"><span ng-show="filteredNodes.length !== allNodes.length">Filtered </span>Nodes</h2>
<div><button class="btn btn-sm back-btn" ng-click="changeView()">Back</button></div>
<input type="text" name="nodeViewSearch" ng-model="nodeView.search" ng-change="nodeViewSearch()" class="filter-search" ng-model-options="{debounce: 500}" placeholder="Search by any node properties.">
<toggle-switch ng-model="nodeView.allKeys" on-label="ALL" off-label="ANY" knob-label="" ng-change="nodeViewSearch()">
</toggle-switch>
<button class="btn btn-sm" ng-click="nodeView.search = '';nodeViewSearch()">Clear</button>
<ol ng-show="filteredNodes.length > 0">
    <li ng-repeat="node in filteredNodes track by $index" class="node">
        <h4 class="node-header">[[node.uid]]</h4>
        <section>
            <div class="row">
                <div class="col col-sm-3">
                    <strong>Site: </strong>[[node.site]]
                </div>
                <div class="col col-sm-3">
                    <strong>Cluster: </strong>[[node.cluster]]
                </div>
                <div ng-repeat="(ky, vl) in node.architecture track by $index" class="col col-sm-3">
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>
                <div ng-repeat="(ky, vl) in node.main_memory track by $index" class="col col-sm-3" ng-if="ky.indexOf('humanized') === -1">
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>
                <!--<div ng-repeat="(ky, vl) in node.gpu track by $index" class="col col-sm-3">
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>-->
                <div ng-repeat="(ky, vl) in node.monitoring track by $index" class="col col-sm-3">
                    <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                </div>
                <div class="col col-sm-3">
                    <strong>Version: </strong>[[node.version]]
                </div>
            </div>
            <div ng-repeat="(key, value) in node track by $index" ng-if="!contains(['site', 'cluster', 'uid', 'version', 'architecture', 'main_memory', 'monitoring'], key)">
                <div ng-if="!isObject(value) && !isArray(value) && value !== null && value !== ''" class="row">
                    <div class="col col-sm-3">
                        <strong>[[snakeToReadable(key)]]: </strong>[[value]]
                    </div>
                </div>
                <div ng-if="isArray(value)" ng-init="collapsed = true">
                    <h5 class="bg-success pseudolink" ng-click="collapsed = !collapsed"><strong>[[snakeToReadable(key)]]</strong>
                             <span ng-show="!collapsed" class="pull-right">Less&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span>
                             <span ng-show="collapsed" class="pull-right">More&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                        </h5>
                    <div ng-repeat="val in value track by $index" ng-show="!collapsed" ng-init="arrayIndex = $index; innerCollapsed = true">
                        <h5 class="bg-info"><strong>[[snakeToReadable(key)]] #[[$index]]</strong></h5>
                        <div class="row">
                            <div ng-repeat="(ky, vl) in val track by $index" class="col col-sm-3" ng-if="vl !== null && vl !== '' && ky.indexOf('humanized') === -1">
                                <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="isObject(value) && !isArray(value)">
                    <h5 class="bg-success"><strong>[[snakeToReadable(key)]]</strong></h5>
                    <div class="row">
                        <div ng-repeat="(ky, vl) in value track by $index" ng-show="!collapsed" class="col col-sm-3" ng-if="vl !== null && vl !== ''">
                            <strong>[[snakeToReadable(ky)]]: </strong>[[vl]]
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </li>
</ol>
<div ng-show="isEmpty(filteredNodes)" class="alert alert-warning">Node(s) not found.</div>
<div>
    <button class="btn btn-sm" ng-click="changeView()">Back</button>
</div>
