<div class="modal-header">
    <h4 class="modal-title"><strong>Reservation</strong></h4>
</div>
<div ng-if="showScript">
    <div class="modal-body">
        <code>[[scrpt]]</code>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" clip-copy="getScript()" clip-click="ok()" clip-click-fallback="fallback(copy)">Copy to Clipboard</button>
        <button class="btn btn-info" ng-click="cancel()">Close</button>
    </div>
</div>
<form novalidate id="modalForm" class="modalForm" name="modalForm" ng-if="!showScript">
    <div class="modal-body">
        <table class="table table-striped table-hover">
            <tr>
                <td><strong>Start Date:</strong>&nbsp;<sup><i style="color: red;font-size:0.5em;" class="fa fa-asterisk"></i></sup></td>
                <td>
                    <div class="input-group">
                        <input type="text" id="startDate" name="startDate" class="form-control" datepicker-popup="[[format]]" ng-model="userSelections.startDate" is-open="open.start" min-date="minDate" datepicker-options="dateOptions" ng-required="true" ng-disabled="true" close-text="Close" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default"
                            ng-click="open($event,'start')">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </span>
                    </div>
                    <div style="color:red" ng-show="modalForm.startDate.$dirty && modalForm.startDate.$invalid">
                        <div ng-show="modalForm.startDate.$error.required">Start Date is required.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>End Date:</strong>&nbsp;<sup><i style="color: red;font-size:0.5em;" class="fa fa-asterisk"></i></sup></td>
                <td>
                    <div class="input-group">
                        <input type="text" id="endDate" name="endDate" class="form-control" datepicker-popup="[[format]]" ng-model="userSelections.endDate" is-open="open.end" min-date="userSelections.startDate" datepicker-options="dateOptions" ng-required="true" ng-disabled="true" close-text="Close" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default"
                            ng-click="open($event,'end')" ng-disabled="userSelections.startDate.$invalid">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </span>
                    </div>
                    <div style="color:red" ng-show="modalForm.endDate.$dirty && modalForm.endDate.$invalid">
                        <div ng-show="modalForm.endDate.$error.required">End Date is required.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>Min. Nodes Requested</strong>&nbsp;<sup><i style="color: red;font-size:0.5em;" class="fa fa-asterisk"></i></sup></td>
                <td>
                    <input type="number" ng-model="userSelections.minNode" name="minNode" min="1" max="[[maxNodes]]" ng-required="true"/>
                    <div style="color:red" ng-show="modalForm.minNode.$dirty && modalForm.minNode.$invalid">
                        <div ng-show="modalForm.minNode.$error.required">Minimum no. of nodes requested is required.</div>
                        <div ng-show="modalForm.minNode.$error.number">Minimum no. of nodes requested must be a number.</div>
                        <div ng-show="modalForm.minNode.$error.min || modalForm.minNode.$error.max">Minimum no. of nodes requested must be between 1 and [[maxNodes]].</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>Max. Nodes Requested</strong>&nbsp;<sup><i style="color: red;font-size:0.5em;" class="fa fa-asterisk"></i></sup></td>
                <td>
                    <input type="number" ng-model="userSelections.maxNode" name="maxNode" min="[[getMin()]]" max="[[maxNodes]]" ng-required="true" ng-disabled="modalForm.minNode.$invalid"/>
                    <div style="color:red" ng-show="modalForm.maxNode.$dirty && modalForm.maxNode.$invalid">
                        <div ng-show="modalForm.maxNode.$error.required">Maximum no. of nodes requested is required.</div>
                        <div ng-show="modalForm.maxNode.$error.number">Maximum no. of nodes requested must be a number.</div>
                        <div ng-show="modalForm.maxNode.$error.min || modalForm.maxNode.$error.max">Maximum no. of nodes requested must be between [[userSelections.minNode]] and [[maxNodes]].</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="generateScript()" ng-disabled="modalForm.$invalid">Generate Script</button>
        <button class="btn btn-info" ng-click="cancel()">Cancel</button>
    </div>
</form>
