<div class="row">
{% for news in news_list %}
<div class="col-sm-6">
  <article class="block news-item">
    <header class="post-header">
      <h2 title="{{ news.title }}">
        <a href="{% url 'user_news:detail' news.slug %}">{{ news.title }}</a>
      </h2>
      {% if news.event.event_type == "WEBINAR" %}
      <div class="meta">Event Date: {{ news.event.event_date|date:"F d, o" }}</div>
      {% else %}
      <div class="meta">{{news.event.event_type }} {{ news.created|date:"F d, o" }}</div>
      {% endif %}
    </header>

    <section class="news-item-summary post-content">
      {{ news.summary|safe }}
    </section>

    <div class="read-more">
      <a href="{% url 'user_news:detail' news.slug %}" class="read-more-link">Read more</a>
    </div>
  </article>
</div>
{% endfor %}
</div>
