{% extends 'layout/default.html' %}
{% load i18n cms_tags static pipeline bootstrap3 %}

{% block title %}Sharing Portal | Chameleon Cloud {% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'sharing_portal/create_git_version.js' %}"></script>
{% endblock %}

{% block content %}
<div class="layoutGrid">
  <div class="layoutGrid__main">
    <div class="artifactDetail">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="gitRemote">Remote URL</label>
          <input id="gitRemote" name="gitRemote" class="cardFilter" type="text" placeholder="Remote URL" required />
          <small class="form-text text-muted">
            The URL you would use to clone to the repository
          </small>
        </div>

        <div class="form-group">
          <label for="gitRef">Reference</label>
          <select id="gitRef" name="gitRef" class="form-control" required></select>
          <small class="form-text text-muted">
            The git reference to tie the artifact version to. Leave as HEAD
            for the latest commit.
          </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
