{% extends 'layout/default.html' %}
{% load i18n cms_tags markdown_deux_tags static pipeline bootstrap3 %}
{% block title %}Sharing Portal | Chameleon Cloud {% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'sharing_portal/tooltip.js' %}"></script>
{% endblock %}

{% block content %}
{# Experiments / [current_exp_title] subheader #}
<ol class="breadcrumb">
  <li>
    <a href="{% url 'sharing_portal:index_all' %}">Artifacts</a>
  </li>
  <li class="active">{{ artifact.title }}</li>
</ol>

<div class="layoutGrid">
  <div class="layoutGrid__main">
    <div class="artifactDetail">
      <header class="artifactDetail__heading">
        <h2 class="artifactTitle">
          {{ artifact.title }}
        </h2>
        <div class="artifactActions">
          {% if artifact.visibility == "private" and not doi_info.doi %}
            <i class="fa fa-eye-slash artifactDetailPrivate" data-toggle="tooltip" data-placement="top" title="This artifact is only visible for those chosen by the author"></i>
          {% endif %}
          {% if editable %}
          <a class="btn btn-default" href="{% url 'sharing_portal:share' artifact.uuid %}">
            <i class="fa fa-share"></i> Share
          </a>
          <a class="btn btn-warning" href="{% url 'sharing_portal:edit' artifact.uuid %}">
            <i class="fa fa-edit"></i> Edit
          </a>
          {% endif %}
        </div>
      </header>
      <div class="artifactBody">
        <section class="artifactBody__description">
          {{ artifact.long_description|markdown|safe }}
        </section>

        {% include 'sharing_portal/includes/stats.html' with artifact=artifact version=version %}

        {% if artifact.authors %}
        <section class="artifactBody__authors">
          <h4>Authors</h4>
          <ul>
            {% for author in artifact.authors %}
            <li>
              {{ author.full_name }}{% if author.affiliation %}, {{ author.affiliation }}{% endif %}
              <a href="mailto:{{ author.email }}">({{ author.email }})</a>
            </li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}

        {% if doi_info.doi %}
        <section>
          <h4>Digital Object Identifier (DOI)</h4>
          <a href="{{ doi_info.url }}" target="_blank">
            {{ doi_info.doi }} {% if doi_info.created_at %}({{ doi_info.created_at }}){% endif %}
          </a>
        </section>
        {% endif %}

        {% if artifact.git_repo %}
        <a class="btn" href="https://github.com/{{ artifact.git_repo }}" target="_blank">
          <i class="fa fa-github"></i>&nbsp;GitHub: {{ artifact.git_repo }}
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="layoutGrid__side">
    {% if show_launch %}
      <a class="artifactLaunchButton btn btn-primary" href="{{ launch_url }}" target="_blank">Launch on Chameleon</a>
      <p class="artifactLaunchButton_details">
        Launching this artifact will open it within Chameleon&rsquo;s shared Jupyter
        experiment environment, which is accessible to all Chameleon users with
        an active allocation.
      </p>
    {% endif %}

    {% if artifact.reproducibility.enable_requests %}
      <a class="artifactLaunchButton btn btn-primary" href="{{ request_daypass_url }}">Request daypass</a>
      <p class="artifactLaunchButton_details">
        If you do not have an active Chameleon allocation, or would prefer to not
        use your allocation, you can request a temporary one from the PI of the
        project this artifact belongs to.
      </p>
    {% endif %}

    {% if not show_launch and not artifact.is_reproducible %}
      <p class="artifactLaunchButton_details">
        You cannot launch this artifact, as you do not have an active Chameleon
        allocation.
      </p>
    {% endif %}

    {% if http_content %}
    <a class="artifactLaunchButton btn btn-primary" href="{{ download_url }}" target="_blank">Download Archive</a>
    <p class="artifactLaunchButton_details">
    Download an archive containing the files of this artifact.
    </p>
    {% endif %}

    {% for git_method in git_content %}
<div>
  <h4><i class="fa fa-code"></i>Download with git</h4>
    <p class="artifactLaunchButton_details">
    Clone the git repository for this artifact, and checkout the version's commit
    </p>
    <pre><code>git clone {{git_method.remote}}
# cd into the created directory
git checkout {{git_method.ref}}</code></pre>
</div>
    {% endfor %}

    <div class="artifactVersions">
      <h4><i class="fa fa-files-o"></i> Versions</h4>
      <ol class="sidebarNav">
        {% load trovi_filters %}
        {% for v in artifact.versions %}
        <li class="sidebarNav__item {% if version.slug == v.slug %}active{% endif %}">
          <a class="artifactVersion__title" href="{% url 'sharing_portal:detail_version' artifact.uuid v.slug %}">
            <span>Version {{ v.slug }}</span>
            <span>{{ v.created_at | trovi_date_format  }}</span>
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
