{% extends "layout/embed.html" %}
{% load bootstrap3 i18n pipeline sekizai_tags staticfiles %}

{% block title %}Sharing Portal | Chameleon Cloud{% endblock %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endaddtoblock %}

{% block content %}
<div class="layoutGrid">
    <div class="layoutGrid__main">
      <div class="artifactDetail">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <header class="artifactDetail__heading">
                <h2 class="artifactTitle">Edit artifact</h2>
                <div class="artifactActions">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a href="{% url 'sharing_portal:detail' pk %}" class="btn btn-default">Cancel</a>
                </div>
            </header>

            {% bootstrap_form artifact_form %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
