{% extends 'layout/default.html' %}
{% load i18n cms_tags staticfiles pipeline bootstrap3 %}
{% block title %}Sharing Portal | Chameleon Cloud {% endblock %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endblock %}
{% block content %}
{# Experiments / [current_exp_title] subheader #}
<ol class="breadcrumb">
    <li>
        <a href="{% url 'sharing_portal:index' %}">All</a>
    </li>
    <li class="active">
        <!-- necessary extra line -->
        {{ artifact.title }}
    </li>
</ol>

{# Title #}
<div class="artCatalog">
    <h2 class="artCatalog__title">Edit {{ artifact.title }}</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form artifact_form %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Save Changes</button>
            <a href="{% url 'sharing_portal:detail' pk %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
