{% extends "layout/embed.html" %}
{% load bootstrap3 i18n pipeline sekizai_tags static %}

{% block title %}Sharing Portal | Chameleon Cloud{% endblock %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endaddtoblock %}

{% block content %}
<div class="layoutGrid">
  <div class="layoutGrid__main">
    <div class="artifactDetail">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <header class="artifactDetail__heading">
          <h2 class="artifactTitle">{{ form_title }}</h2>
          <div class="artifactActions">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'sharing_portal:embed_cancel' %}" class="btn btn-default">Cancel</a>
          </div>
        </header>

        {% bootstrap_form artifact_form %}

        <h4>Authors</h4>
        {{ authors_formset.management_form }}
        {% for form in authors_formset.forms %}
        <fieldset class="form-group form-inline">
          {% bootstrap_form form show_label=False layout='inline' %}
        </fieldset>
        {% endfor %}
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
