{% extends 'layout/default.html' %}
{% load i18n cms_tags staticfiles pipeline bootstrap3 %}

{% block title %}Sharing Portal | Chameleon Cloud {% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/slider.css' %}">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'sharing_portal/dropdown.js' %}"></script>
{% endblock %}

{% block content %}
<div class="layoutGrid">
  <div class="layoutGrid__main">
    <input class="cardFilter" type="text" placeholder="Filter" />

    {% for artifact in artifacts %}
    <a class="blockLink" href="{% url 'sharing_portal:detail' artifact.pk %}">
      <div class="cardItem">
        <h5 class="cardItem__title">{{ artifact.title }}</h5>
        <div class="cardItem__body">
          {% if artifact.short_description %}
          <p class="artifactGridItem__description">
            {{ artifact.short_description }}
          </p>
          {% endif %}
        </div>
        <div class="cardItem__footer">
          <div class="cardItem__stats">
            <span><i class="fa fa-repeat"></i> Downloads</span>
            <span><i class="fa fa-files-o"></i> Versions</span>
          </div>
          <div class="cardItem__tags">
            {% for label in artifact.labels.all %}
            <span class="cardItem__tag">{{ label.label }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </a>
    {% empty %}
    <div class="row">
      <p>No results found.</p>
    </div>
    {% endfor %}
  </div>

  <div class="layoutGrid__side">
    <div class="sidebarHeading">
      <h1>Trovi</h1>
      <p>
        A collection of shared artifacts you can launch on Chameleon.
        <a href="">Learn how to contribute on the docs.</a>
      </p>
    </div>

    <ul class="sidebarNav">
      <li class="sidebarNav__item active"><a href=""><i class="fa fa-globe"></i> Public</a></li>
      <li class="sidebarNav__item"><a href=""><i class="fa fa-user"></i> My library</a></li>
      <li class="sidebarNav__item">
        <span class="sidebarNav__subnavHeading"><i class="fa fa-group"></i> Shared</span>
        <ul class="sidebarNav__subnav {% if not projects %}empty{% endif %}">
        {% for project in projects %}
          <li class="sidebarNav__item"><a href="">{{ project.name }}</a></li>
        {% empty %}
          <li class="sidebarNav__item">No shared collections</li>
        {% endfor %}
        </ul>
      </li>
    </div>
  </div>
</div>
{% endblock %}
