{% extends 'layout/default.html' %}
{% load i18n cms_tags static pipeline bootstrap3 %}

{% block title %}Sharing Portal | Chameleon Cloud {% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'sharing_portal/index.js' %}"></script>
<script src="{% static 'sharing_portal/tooltip.js' %}"></script>
{% endblock %}

{% block content %}
<div class="layoutGrid">
  <div class="layoutGrid__main">
    <input id="cardFilter" class="cardFilter" type="text" placeholder="Filter"/>

    <h3>Featured Artifacts</h3>

    <div>
      {% for artifact in featured_artifacts %}
      <div class="cardItem" data-search="{{ artifact.search_terms|join:' ' }}">
        <a class="blockLink" href="{% url 'sharing_portal:detail' artifact.uuid %}">
          <h5 class="cardItem__title">
            <span class="cardTitleTitle">{{ artifact.title }}</span>
            <span class="cardTitlePrivate">
          {% if artifact.is_private and not artifact.has_doi %}
            <i class="fa fa-eye-slash" data-toggle="tooltip" data-placement="top"
               title="This artifact is only visible for those chosen by the author"></i>
          {% endif %}
          </span>
          </h5>
          <div class="cardItem__body">
            {% if artifact.short_description %}
            <p class="artifactGridItem__description">
              {{ artifact.short_description }}
            </p>
            {% endif %}
          </div>
        </a>
        <div class="cardItem__footer">
          {% include 'sharing_portal/includes/stats.html' with artifact=artifact %}
        </div>
      </div>
      {% empty %}
      <div class="cardEmpty">
        <p>No results found.</p>
      </div>
      {% endfor %}
    </div>

    <h3>All Artifacts</h3>

    <div>
      {% for artifact in artifacts %}
      <div class="cardItem" data-search="{{ artifact.search_terms|join:' ' }}">
        <a class="blockLink" href="{% url 'sharing_portal:detail' artifact.uuid %}">
          <h5 class="cardItem__title">
            <span class="cardTitleTitle">{{ artifact.title }}</span>
            <span class="cardTitlePrivate">
              {% if artifact.is_private and not artifact.has_doi %}
            <i class="fa fa-eye-slash" data-toggle="tooltip" data-placement="top"
               title="This artifact is only visible for those chosen by the author"></i>
          {% endif %}
          </span>
          </h5>
          <div class="cardItem__body">
            {% if artifact.short_description %}
            <p class="artifactGridItem__description">
              {{ artifact.short_description }}
            </p>
            {% endif %}
          </div>
        </a>
        <div class="cardItem__footer">
          {% include 'sharing_portal/includes/stats.html' with artifact=artifact %}
        </div>
      </div>
      {% empty %}
      <div class="cardEmpty">
        <p>No results found.</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="layoutGrid__side">
    <div class="sidebarHeading">
      <h1>Trovi</h1>
      <p>
        This page is powered by <a href="https://chameleoncloud.gitbook.io/trovi/" target="_blank">Trovi</a>,
        an open platform for practical reproducibility. These artifacts are packaged experimental environments
        which are ready for reproduction at the click of a button. For more information on how to use Trovi,
        please refer to our
        <a href="https://chameleoncloud.readthedocs.io/en/latest/technical/sharing.html" target="_blank">documentation</a>
        or
        <a href="https://chameleoncloud.org/blog/2022/06/01/sharing-experiments-with-trovi/" target="_blank">blog</a>.
      </p>
    </div>

    <ul class="sidebarNav">
      <li class="sidebarNav__item {% if request.resolver_match.url_name == 'index_all' %}active{% endif %}"><a
        href="{% url 'sharing_portal:index_all' %}"><i class="fa fa-circle-o"></i> All</a></li>
      <li class="sidebarNav__item {% if request.resolver_match.url_name == 'index_public' %}active{% endif %}"><a
        href="{% url 'sharing_portal:index_public' %}"><i class="fa fa-globe"></i> Public</a></li>
      <li class="sidebarNav__item {% if request.resolver_match.url_name == 'index_mine' %}active{% endif %}"><a
        href="{% url 'sharing_portal:index_mine' %}"><i class="fa fa-user"></i> My library</a></li>
    </ul>

    <a href="{% url 'sharing_portal:create_artifact' %}">
      <button class="btn btn-success">Import Artifact</button>
    </a>
    <div class="sidebarNav__separator">
      <h4>Badges</h4>
      {% for badge in badges %}
        <div>
          <a href="{% url 'sharing_portal:index_all' %}?filter=badge:{{ badge.name|urlencode }}">
            {% with 'images/'|add:badge.name|add:'-logo-small.png' as logo_static %}
              <img src="{% static logo_static %}" alt="Small {{badge.name}} logo">
            {% endwith %}
          </a>
          {% if badge.redirect_link %}
            <a target="_blank" href="{{ badge.redirect_link }}">{{badge.description}}</a>
          {% else %}
            <p style="display:inline;">{{badge.description}}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    
    <div class="sidebarNav__separator">
      <h4>Tags</h4>
      {% for tag in tags %}
      <div class="sidebarNav__tags">
        <a href="{% url 'sharing_portal:index_all' %}?filter=tag:{{ tag|urlencode }}">{{ tag }}</a>
      </div>
      {% endfor %}
    </div>
    
  </div>
</div>
{% endblock %}
