{% extends 'layout/default.html' %}
{% load i18n cms_tags staticfiles pipeline bootstrap3 %}
{% load render_bundle from webpack_loader %}

{% block title %}Sharing Portal | Chameleon Cloud{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endblock %}

{% block content %}
{# Experiments / [current_exp_title] subheader #}
<ol class="breadcrumb">
  <li>
    <a href="{% url 'sharing_portal:index_all' %}">All</a>
  </li>
  <li>
    <a href="{% url 'sharing_portal:detail' artifact.pk %}">{{ artifact.title }}</a>
  </li>
  <li class="active">Share</li>
</ol>

<div id="app">

  <form id="artifactShareForm" method="post">
    {% csrf_token %}

    <div class="layoutGrid">
      <div class="layoutGrid__main">
        <div class="artifactDetail">
          <header class="artifactDetail__heading">
            <h2 class="artifactTitle">Edit sharing settings</h2>
            <div class="artifactActions">
              <button type="submit" class="btn btn-success">Save Changes</button>
              <a href="{% url 'sharing_portal:detail' artifact.pk %}" class="btn btn-default">Cancel</a>
            </div>
          </header>

          <label class="control-label">Publish with DOI</label>
          <p class="help-block">
            You can publish any version of this artifact to
            <a href="https://zenodo.org" rel="noopener noreferrer" target="_blank">Zenodo</a>,
            which will assign a DOI (Digital Object Identifier), suitable for use
            in academic citation. Use the "Request DOI" options for any versions
            you wish to publish publicly in this way.
          </p>

          <label class="control-label">Publish (without DOI)</label>
          <p class="help-block">
            Want to allow any Chameleon user to find and launch this artifact?
            This is a good option if you want to share your work but don't
            necessarily want to publish to Zenodo as a citable digital artifact.
          </p>
          {% bootstrap_field share_form.is_public %}

          <fieldset id="artifactShareFormPrivateOptions">
            <label class="control-label">Share via private link</label>
            <p>
              <a href="{{ share_url }}">{{ share_url }}</a>
            </p>

            <label class="control-label">Share with projects</label>
            <p>
              You can share this artifact with other Chameleon projects. Any
              member of those projects will then be able to view the artifact.
            </p>
            {% bootstrap_field share_form.projects show_label=False %}
          </fieldset>
        </div>
      </div>

      <div class="layoutGrid__side">
        <div class="artifactVersions">
          <h4><i class="fa fa-files-o"></i> Versions</h4>
          {{ z_management_form }}
          {% for i, form in z_forms %}
          <fieldset>
            <span class="artifactVersion__title">
              <span>Version {{ i }}</span>
              <span>{{ form.model.created_at }}</span>
            </span>
            {% bootstrap_form form form_group_class='form-group artifactVersion__doi' error_css_class='foobar' show_label=False layout='inline' %}
          </fieldset>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>

</div>

{# TODO: replace with json_script filter when we're on Django 2.1 #}
<script id="artifact-data" type="application/json">{{ artifact_json|safe }}</script>
{% render_bundle 'vendor' %}
{% render_bundle 'artifact_share' %}

{% endblock %}
