{% extends 'layout/default.html' %}
{% load i18n cms_tags static pipeline bootstrap3 %}
{% load render_bundle from webpack_loader %}

{% block title %}Sharing Portal | Chameleon Cloud{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'sharing_portal/artifacts.css' %}">
{% endblock %}

{% block content %}
{# Experiments / [current_exp_title] subheader #}
<ol class="breadcrumb">
  <li>
    <a href="{% url 'sharing_portal:index_all' %}">All</a>
  </li>
  <li>
    <a href="{% url 'sharing_portal:detail' artifact.uuid %}">{{ artifact.title }}</a>
  </li>
  <li class="active">Share</li>
</ol>

<div id="app">

  <form id="artifactShareForm" method="post">
    {% csrf_token %}

    <div class="layoutGrid">
      <div class="layoutGrid__main">
        <div class="artifactDetail">
          <header class="artifactDetail__heading">
            <h2 class="artifactTitle">Edit sharing settings</h2>
            <div class="artifactActions">
              <button type="submit" class="btn btn-success">Save Changes</button>
              <a href="{% url 'sharing_portal:detail' artifact.uuid %}" class="btn btn-default">Cancel</a>
            </div>
          </header>

          <label class="control-label">Publish (without DOI)</label>

          {% bootstrap_field share_form.is_public %}

          <fieldset id="artifactShareFormPrivateOptions">
            <label class="control-label">Share via private link</label>
            <p>
              <a href="{{ share_url }}">{{ share_url }}</a>
            </p>

          </fieldset>

          <p class="help-block">
            A person without an active Chameleon allocation is unable to launch
            and reproduce your artifact. If you enable reproducibility requests,
            users can send requests, and if granted, they will be given a small
            temporary allocation on a separate project. While usage by
            reproducing users will not count towards your project's main
            allocation, the PI is nonetheless accountable for their responsible
            usage of Chameleon resources. All reproducibilty requests therefore
            require PI approval.
          </p>
          {% bootstrap_field share_form.project show_label=False %}
          {% bootstrap_field share_form.is_reproducible %}
          {% bootstrap_field share_form.reproduce_hours %}
        </div>
      </div>

      <div class="layoutGrid__side">
      </div>
    </div>
  </form>

</div>

{% render_bundle 'vendor' %}
{% render_bundle 'artifact_share' %}

{% endblock %}
