[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.appCatalog {

  .add-appliance-link {
    position: absolute;
    top: 0;
    right: 15px;

    @media (max-width:767px) {
      position: static;
    }
  }

  .thumbnail {
    cursor: pointer;
  }

  .form-group {
    margin-top: 10px;
    margin-right: 12px;
  }

  .app-icon {
    height: 80px;
  }
  .app-icon-table {
    max-height: 80px;
  }
  .dropdown-multiselect > .dropdown-toggle {
    white-space: normal;
  }
  .btn {
    margin-bottom: 5px;
  }
  .name-column {
    text-align: center;
    min-width: 125px;
    padding: 15px;
  }
  .pseudo-link {
    cursor: hand;
    cursor: pointer;
  }
  .pagination-summary {
    float: right;
    margin-top: 40px;
    margin-right: 16px;
  }

  .pagination-header {
    clear: both;
  }

  .ats-switch {
    margin-top: 10px;
  }
  .app-title {
    margin-left: 10px;
    vertical-align: bottom;
  }
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .table {
    width: 100%;
    background-color: white;
  }
  .dropdown-multiselect {
    margin-top: 8px;
    margin-bottom: 3px;
  }
}
