{% extends "layout/default.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h2>Password Reset</h2>

<p class="lead">
  Pardon our progress! We're still polishing up the final pieces of the
  Chamelon User Portal, and password reset is one of those pieces. But
  not to worry! You can still reset your password via the TACC User Portal.
</p>
<p class="lead">
  <a class="btn btn-default" href="https://portal.tacc.utexas.edu/password-reset">Go to the TACC User Portal</a>
  to complete the password reset. Then you can return here to log in.
</p>

{% comment %}
<p class="lead">
  Enter your Chameleon Cloud Username to request a password reset.
  If your account is found, you will receive an email at the registered
  email address with instructions to complete the password reset.
</p>

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label" for="username">Enter Your Chameleon Cloud Username</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Request Password Reset</button>
  </div>
</form>

{% endcomment %}
{% endblock %}
