{% extends "layout/default.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h2>Password Reset</h2>

<p class="lead">
  Enter your Chameleon Cloud Username to request a password reset.
  If your account is found, you will receive an email at the registered
  email address with instructions to complete the password reset.
</p>

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label" for="username">Enter Your Chameleon Cloud Username</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Request Password Reset</button>
  </div>
</form>
{% endblock %}
