{% extends "layout/default.html" %}

{% block content %}
<p>
{% if form.errors %}
<div class="col-8">
  <p>Please correct the error(s) below:</p>
  {{ form.old_password.errors }}
  {{ form.new_password1.errors }}
  {{ form.new_password2.errors }}
  <p>
</div>
{% endif %}
<div class="col-8">
<article class="block">
<form method="post" action="">{% csrf_token %}
  <h2>Password Change</h2>
  <div style="line-height: 36px">
  <div style="display: table-row">
    <div style="display: table-cell">Old password</div>
    <div style="display: table-cell">{{ form.old_password }}</div>
  </div>
  <div style="display: table-row">
      <div style="display: table-cell">New password</div>
      <div style="display: table-cell">{{ form.new_password1 }}</div>
  </div>
  <div style="display: table-row">
      <div style="display: table-cell; padding-right: 12px">New password (confirm)</div>
      <div style="display: table-cell">{{ form.new_password2 }}</div>
  </div>
  <input class="read-more" type="submit" value="Change my password" />
  </div>
</form>
</article>
</div>
{% endblock %}
