{% extends "layout/default.html" %}

{% block content %}
{% load markdown_deux_tags %}
{% markdown %}

# Open Account Requests

## Requesting PI Status

{% for profile in profiles %}
{% if profile.status == "S" and profile.request_PI %}
* [{{profile.user.first_name}} {{profile.user.last_name}}](user/{{profile.user.username}}) with email {{profile.user.email}}
{% endif %}
{% endfor %}

## Not Requesting PI Status

{% for profile in profiles %}
{% if profile.status == "S" and not profile.request_PI %}
* [{{profile.user.first_name}} {{profile.user.last_name}}](user/{{profile.user.username}}) with email {{profile.user.email}}
{% endif %}
{% endfor %}

## Incomplete applications

{% for profile in profiles %}
{% if profile.status == "I" %}
* [{{profile.user.first_name}} {{profile.user.last_name}}](user/{{profile.user.username}}) with email {{profile.user.email}}
{% endif %}
{% endfor %}


{% endmarkdown %}
{% endblock %}
