{% extends "layout/default.html" %}
{% load i18n %}
{% block title %}Early User Program{% endblock %}
{% block content %}

<h1>Early User Programs</h1>

<p class="lead">
  Listed below are the current Early User Programs.
</p>

<ul class="list-group">
{% for p in programs %}
  <li class="list-group-item">
    <h4>{{ p.name }}
      <small>{{ p.state_name }}</small>
    </h4>
    <p>{{ p.description|safe }}</p>
    <p>
      <a href="{% url 'cc_early_user_support:program' p.id %}" class="btn btn-default">View</a>
      {% if p.is_open and user.is_authenticated %}
        <a href="{% url 'cc_early_user_support:participate' p.id %}" class="btn btn-info">Request to Participate</a>
      {% endif %}
    </p>
  </li>
{% empty %}
  <div class="jumbotron">
    <p>
      {% trans 'There are no current Early User Programs to display.' %}
    </p>
  </div>
{% endfor %}
</ul>

{% endblock %}
