{% extends "layout/default.html" %}
{% load i18n %}
{% block title %}{{ program.name }} | Early User Program{% endblock %}
{% block content %}

<h1>{{ program.name }} <small>Early User Program</small></h1>

<p>{{ program.description|safe }}</p>

<h4>Program Status</h4>
<p>
  <span class="label {% if program.is_open %}label-info{% elif program.is_active %}label-primary{% else %}label-default{% endif %}">{{ program.state_name }}</span>
</p>

<h4>Participation</h4>
{% if participant %}
  {% if participant.is_approved %}
    <p class="alert alert-success">
      You are a participant in this program.
    </p>
  {% else %}
    <p class="alert alert-info">
      You have requested to participate in this program.
    </p>
  {% endif %}
{% elif program.is_open %}
  <p>
    {% if user.is_authenticated %}
      <a class="btn btn-info" href="{% url 'cc_early_user_support:participate' program.id %}">
        Request to Participate
      </a>
    {% else %}
      <a class="btn btn-info" href="{% url 'login' %}?next={% url 'cc_early_user_support:participate' program.id %}">
        Log in to Request to Participate
      </a>
    {% endif %}
  </p>
{% else %}
  <p>This program is no longer accepting participants.</p>
{% endif %}

{% endblock %}
