{% extends 'layout/user.html' %}

{% block title %}Projects{% endblock %}

{% block content %}

{% comment %}
<a href="{% url 'projects.views.create_project' %}" class="btn btn-info pull-right">
  <i class="fa fa-plus-circle"></i> Create a Project
</a>
{% endcomment %}

<h2>Projects</h2>

{% for p in projects %}

<h4>
  {{ p.title }} |
  <small>{{ p.chargeCode }}</small>
  &nbsp;&nbsp;<a href="{% url 'view_project' p.id %}" class="btn btn-default">View Project</a>
</h4>



<table class="table table-responsive" data-project-id="{{ p.id }}">
  <tbody>
    <tr>
      <th>PI</th>
      <td>{{ p.pi.firstName }} {{ p.pi.lastName }} <a href="mailto:{{ p.pi.email }}">&lt;{{ p.pi.email }}&gt;</a></td>
    </tr>
    <tr>
      <th>Abstract</th>
      <td>{{ p.description }}</td>
    </tr>
  </tbody>
</table>

<hr>
{% empty %}
  <div class="jumbotron">
    <h1>You don't have any projects!</h1>
    <p>
      At this time, Chameleon is supporting
      <a href="{% url 'documentation.views.display_doc' 'futuregrid' %}">FutureGrid@Chameleon</a>.
      If you are a former FutureGrid User, you can migrate your project to
      Chameleon.
    </p>
    <p>
      <a href="{% url 'projects.views.lookup_fg_projects' %}" class="btn btn-info">
        <i class="fa fa-plus-circle"></i>
        Migrate a FutureGrid Project
      </a>
    </p>
  </div>
{% endfor %}

{% endblock %}
