{% load static %}

<footer class="site-footer text-center">

    <div class="partners">
      <a href="https://uchicago.edu" target="_blank">
        <img src="{% static "images/partners/chicago-logo.svg" %}" alt="The University of Chicago">
      </a>

      <a href="https://www.tacc.utexas.edu">
        <img src="{% static "images/partners/tacc-logo.svg" %}" alt="Texas Advanced Computing Center">
      </a>

      <a href="https://ncar.ucar.edu/">
        <img class="grayscale" src="{% static "images/partners/logo-ncar.png" %}" alt="National Center for Atmospheric Research">
      </a>

      <a href="https://www.northwestern.edu/">
        <img class="grayscale" src="{% static "images/partners/northwestern-logo-new.png" %}" alt="Northwestern University">
      </a>

      <a href="http://www.nsf.gov/">
        <img class="grayscale" src="{% static "images/partners/USNSF_Logo_Lockup_stacked_RGB_1200ppi.png" %}" alt="The National Science Foundation">
      </a>
    </div>

    <p>
      Chameleon is funded by a grant from the National Science Foundation.
    </p>
    <p class="text-center"><span style="padding-right:1.5em;"><a style="color: gray;" href="/about/chameleon">About</a></span>
      <span style="padding-right:1.5em;"><a style="color: gray;" href="https://chameleoncloud.readthedocs.io/en/latest/">Documentation</a></span>
      <span><a style="color: gray;" href="/user/help/ticket/new/guest/">Help Desk</a></span>
    </p>
</footer>
