{% load staticfiles %}

<header class="site-header">
  <div class="container">
    <nav class="navbar navbar-chameleon">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="margin-left:-20px">
          <img class="img-responsive" height="60" width="206" src="{% static "images/logo.png" %}" alt="Chameleon">
          <span class="sr-only">{{ site.title }}</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav">
          <li><a href="/"><i class="fa fa-home"></i><span class="sr-only">Home</span></a></li>
          {% for item in menus.main %}
            {% if item.children %}
              <li class="dropdown {% if item.selected %}active{% endif %}">
                <a href="{{ item.url }}" data-toggle="dropdown">
                  {{ item.title }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% for child_item in item.children %}
                    <li><a href="{{ child_item.url }}">{{ child_item.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if item.selected %}class="active"{% endif %}>
                <a href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right navbar-user">
          {% for item in menus.user %}
            {% if item.children %}
              <li class="dropdown {% if item.selected %}active{% endif %}">
                <a href="{{ item.url }}" data-toggle="dropdown">
                  <i class="fa fa-user hidden-xs hidden-md hidden-lg"></i>
                  <span class="hidden-sm">{{ item.title }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {% for child_item in item.children %}
                    <li class="{% if child_item.selected %}active{% endif %}">
                      <a href="{{ child_item.url }}">{{ child_item.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if item.selected %}class="active"{% endif %}>
                <a href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
