{% extends "admin/base_site.html" %} {% load i18n admin_static %} {% load cms_tags staticfiles compressed %} {% block title %} Allocation Administration | Chameleon Cloud {% endblock %}
<!-- Custom CSS -->
{% block extrastyle %}{{ block.super }} {% compressed_css 'main' %}
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'djangocms_admin_style/css/djangocms-admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'usage/css/main.css' %}"> {% endblock %} {% block extrahead %} {% compressed_js 'all' %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static 'usage/js/vendor.js' %}"></script>
<script src="{% static 'usage/js/main.js' %}"></script>
{% endblock %} {% block coltype %}colM{% endblock %} {% block bodyclass %}{{ block.super }} change-form{% endblock %} {% if not is_popup %} {% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; {% trans 'Manage Allocations' %}
</div>
{% endblock %} {% endif %} {% block content %}
<div class="usage-app">
    <h1>Projects and Allocations</h1>
    <div id="content-main" ng-app="usageApp" ng-cloak>
        <div class="content" ng-controller="UsageController">
            <div class="well" ng-if="loading.allocations">
                <h4><span class="fa fa-spinner fa-spin"></span> Loading projects and allocations...</h4>
            </div>
            <div ng-if="!loading.allocations">
                <div ng-if="isEmpty(messages.allocations)">
                    <div class="form-group">
                        <label for="filterAllocations">Search</label>
                        <input type="text" ng-model="filter.search" ng-change="updateSelected()" class="form-control" id="filterAllocations" name="filterAllocations" placeholder="Filter by project title, number, or PI.">
                    </div>
                    <div class="form-group">
                        <label>Filter by Allocation Status</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="filter.active" ng-change="updateSelected()"> Active</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="filter.inactive" ng-change="updateSelected()"> Inactive</label>
                        </div>
                        <button class="btn btn-info" ng-click="reset()">Clear/Show All</button>
                    </div>
                    <div class="form-group module" ng-repeat="project in selectedProjects track by $index">
                        <h2>[[ project.title ]] <small><a href="/user/projects/[[ project.id ]]" target="_blank">View Project &rarr;</a></small></h2>
                        <table class="table">
                            <tr>
                                <td width="30%"><b>Project Number</b></td>
                                <td>[[ project.chargeCode ]]</td>
                            </tr>
                            <tr>
                                <td><b>PI</b></td>
                                <td>
                                    [[ project.pi.firstName ]] [[ project.pi.lastName ]]
                                    <a ng-show="project.pi.email" ng-href="mailto:[[project.pi.email]]">
                                        <i class="fa fa-envelope-o"></i> [[project.pi.email]]
                                    </a>
                                    <br> [[ project.pi.institution ]]
                                    <br> Username: [[ project.pi.username]]
                                </td>
                            </tr>
                            <tr>
                                <td><b>Abstract</b></td>
                                <td>
                                    <div style="padding:0" read-more more-text="...read more" less-text="...less" words="words" limit="30" text-data="[[project.description]]"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Type</b></td>
                                <td>[[ project.type ]]</td>
                            </tr>
                            <tr>
                                <td><b>Field of Science</b></td>
                                <td>[[ project.field ]]</td>
                            </tr>
                        </table>
                        <h3>Allocations</h3>
                        <div ng-if="!project.allocations || project.allocations.length < 1">
                            <div class="alert alert-warning">
                                There are no allocations for this project.
                            </div>
                        </div>
                        <table ng-if="project.allocations && project.allocations.length > 0">
                            <thead>
                                <tr>
                                    <th width="10%">Resource</th>
                                    <th width="10%">Requestor</th>
                                    <th width="10%">Status</th>
                                    <th width="50%">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="allocation in project.allocations" ng-show="!allocation.doNotShow">
                                    <td>[[ allocation.resource ]]</td>
                                    <td>[[ allocation.requestor ]]</td>
                                    <td><span ng-class="getClass(allocation)">&nbsp;[[ allocation.status ]]</span></td>
                                    <td>
                                        <div ng-if="allocation.status.toLowerCase() === 'active' || allocation.status.toLowerCase() === 'inactive' || allocation.status.toLowerCase() === 'approved'">
                                            <b>Allocation dates:</b> [[ allocation.start | date:'dd MMMM yyyy']] - [[ allocation.end | date:'dd MMMM yyyy']]
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br/>
                        <input type="button" value="View usage" ng-click="viewUsage(project)" ng-show="project.hasActiveAllocation" ng-disabled="project.showChart" />
                        <input type="button" value="View usage per user" ng-click="viewUsagePerUser(project)" ng-show="project.hasActiveAllocation" ng-disabled="project.showUPUChart" />
                        <div ng-if="project.showChart">
                            <br/>
                            <table>
                                <tr>
                                    <td class="name"><strong>Allocations:</strong></td>
                                    <td>
                                        <select ng-model="project.selectedAllocation" ng-change="updateChart(project)" ng-options="allocation.resource + ' (' + (allocation.start | date:'dd MMMM yyyy') + ' - ' + (allocation.end | date:'dd MMMM yyyy') + ')' for allocation in getAllocationsWithUsage(project)">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name"><strong>Users:</strong></td>
                                    <td class="well well-sm" ng-if="isLoading('projectUsers', project)">
                                        <span class="fa fa-spinner fa-spin"></span> Loading project users...
                                    </td>
                                    <td ng-show="!isLoading('projectUsers', project)">
                                        <div ng-if="!isEmpty(getMessages('projectUsers', project))">
                                            <div ng-repeat="msg in getMessages('projectUsers', project)" class="alert alert-danger">[[msg.body]]</div>
                                        </div>
                                        <div ng-if="isEmpty(getMessages('projectUsers', project))">
                                            <select ng-model="project.selectedUser" ng-change="updateChart(project)" ng-options="user.username + ((user.role.toLowerCase() == 'pi')?' (PI)': '') for user in project.users">
                                                <option value="" selected>-- All users --</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name"><strong>Queue:</strong></td>
                                    <td>
                                        <select ng-model="project.selectedQueue" ng-change="updateChart(project)">
                                            <option value="">-- All queues --</option>
                                            <option value="kvm@tacc">KVM@TACC</option>
                                            <option value="kvm@uc">KVM@UC</option>
                                            <option value="chi@tacc">CHI@TACC</option>
                                            <option value="chi@uc">CHI@UC</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <br/>
                            <div class="well well-sm" ng-if="isLoading('allocationUsage', project)">
                                <span class="fa fa-spinner fa-spin"></span> Loading allocation usage...
                            </div>
                            <div ng-if="!isLoading('allocationUsage', project)"></div>
                            <div ng-if="!isEmpty(getMessages('allocationUsage', project))">
                                <alert ng-repeat="msg in getMessages('allocationUsage', project)" type="[[msg.type]]">[[msg.body]]</alert>
                            </div>
                            <highchart id="chart-[[project.id]]" config="project.usageChartConfig" ng-if="isEmpty(getMessages('allocationUsage', project))"></highchart>
                        </div>
                        <div ng-if="project.showUPUChart">
                            <br/>
                            <table>
                                <tr>
                                    <td class="name"><strong>Allocations: </strong></td>
                                    <td>
                                        <select ng-model="project.selectedAllocation" ng-change="updateChart(project)" ng-options="allocation.resource + ' (' + (allocation.start | date:'dd MMMM yyyy') + ' - ' + (allocation.end | date:'dd MMMM yyyy') + ')' for allocation in getAllocationsWithUsage(project)">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>From:</strong></td>
                                    <td>
                                        <input type="text" id="startDate[[project.id]]" name="startDate[[project.id]]" datepicker-popup="[[format]]" ng-model="project.from" is-open="project.startOpened" min-date="getMinDate(project)" max-date="getMaxDate(project)" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-disabled="true" close-text="Close" />
                                    <button type="button" class="btn btn-default" ng-click="isOpen($event, project, 'start')"><i class="fa fa-calendar"></i>
                                    </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>To:</strong></td>
                                    <td>
                                        <input type="text" id="endDate[[project.id]]" name="endDate[[project.id]]" datepicker-popup="[[format]]" ng-model="project.to" is-open="project.endOpened" min-date="project.from" max-date="getMaxDate(project)" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-disabled="true" close-text="Close" />
                                    <button type="button" class="btn btn-default" ng-click="isOpen($event, project, 'end')"><i class="fa fa-calendar"></i>
                                    </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td><button type="button" class="btn btn-default" ng-click="updateUsageByUsersChart(project, 'custom')">
                                      Reload chart
                                    </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=2>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="updateUsageByUsersChart(project, '1m')" ng-disabled="project.dateRange === '1m'">
                                      1m
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="updateUsageByUsersChart(project, '3m')" ng-disabled="project.dateRange === '3m'">
                                      3m
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="updateUsageByUsersChart(project, '6m')" ng-disabled="project.dateRange === '6m'">
                                      6m
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="updateUsageByUsersChart(project, 'ytd')" ng-disabled="project.dateRange === 'ytd'">
                                      YTD
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="updateUsageByUsersChart(project, '1y')" ng-disabled="project.dateRange === '1y'">
                                      1y
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="updateUsageByUsersChart(project, 'all')" ng-disabled="project.dateRange === 'all'">
                                      All
                                    </button>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <br/>
                            <div class="well well-sm" ng-if="isLoading('allocationUsage', project)">
                                <span class="fa fa-spinner fa-spin"></span> Loading allocation usage...
                            </div>
                            <div ng-if="!isLoading('allocationUsage', project)"></div>
                            <div ng-if="!isEmpty(getMessages('allocationUsage', project))">
                                <alert ng-repeat="msg in getMessages('allocationUsage', project)" type="[[msg.type]]">[[msg.body]]</alert>
                            </div>
                            <highchart id="userchart-[[project.id]]" config="project.usageByUserChartConfig" ng-if="isEmpty(getMessages('allocationUsage', project))"></highchart>
                        </div>
                    </div>
                    <div ng-if="!isEmpty(messages.allocations)">
                        <alert ng-repeat="msg in messages.allocations" type="[[msg.type]]">[[msg.body]]</alert>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
