{% extends "admin/base_site.html" %} {% load i18n admin_static %} {% load cms_tags staticfiles compressed %} {% block title %} Allocation Administration | Chameleon Cloud {% endblock %}
<!-- Custom CSS -->
{% block extrastyle %}{{ block.super }} {% compressed_css 'main' %}
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'djangocms_admin_style/css/djangocms-admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'usage/css/main.css' %}"> {% endblock %} {% block extrahead %} {% compressed_js 'all' %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static 'usage/js/vendor.js' %}"></script>
<script src="{% static 'usage/js/main.js' %}"></script>
{% endblock %} {% block coltype %}colM{% endblock %} {% block bodyclass %}{{ block.super }} change-form{% endblock %} {% if not is_popup %} {% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; {% trans 'Manage Allocations' %}
</div>
{% endblock %} {% endif %} {% block content %}
<div class="usage-app">
    <h1>Lookup User Usage</h1>
    <div id="content-main" ng-app="usageApp" ng-cloak>
        <div class="content" ng-controller="UsageController">
            <form class="form-group">
                <label for="id_username">Username: </label>
                <input type="text" class="" id="id_username" ng-model="selections.usernamemodel" placeholder="Username" ng-keypress="handleKeyPress($event)" /> &nbsp;
                <button type="button" class="" ng-click="getUserAllocations()" ng-disabled="loading.userAllocations">
                    Get Usage
                </button>
            </form>
            <h2 ng-show="selections.username">Allocation Usage: <span class="normal">[[selections.username]]</span></h2>
            <div class="well" ng-if="loading.userAllocations">
                <span class="fa fa-spinner fa-spin"></span> Loading user allocation usage...
            </div>
            <div ng-if="!loading.userAllocations">
                <div ng-if="isEmpty(messages.userAllocations)">
                    <div ng-if="selections.username.length === 0 && submitted">
                        <alert type="danger">Username is required</alert>
                    </div>
                    <div ng-if="projects.length === 0 && selections.username.length > 0">
                        <alert type="warning">No allocations found for user: [[selections.username]]</alert>
                    </div>
                    <div ng-if="projects.length > 0">
                        <div class="form-group">
                            <input type="text" ng-model="filter.search" ng-change="updateSelected()" class="form-control" id="filterUserAllocations" name="filterUserAllocations" placeholder="Filter by project title, number, or PI.">
                        </div>
                        <div class="form-group">
                            <label>Filter by Allocation Status</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="filter.active" ng-change="updateSelected()"> Active</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="filter.inactive" ng-change="updateSelected()"> Inactive</label>
                            </div>
                            <button class="btn btn-info" ng-click="reset()">Clear/Show All</button>
                        </div>
                        <div class="form-group module" ng-repeat="project in selectedProjects track by $index">
                            <h2>[[ project.title ]] <small><a href="/user/projects/[[ project.id ]]" target="_blank">View Project &rarr;</a></small></h2>
                            <table class="table">
                                <tr>
                                    <td width="30%"><b>Project Number</b></td>
                                    <td>[[ project.chargeCode ]]</td>
                                </tr>
                                <tr>
                                    <td><b>PI</b></td>
                                    <td>
                                        [[ project.pi.firstName ]] [[ project.pi.lastName ]]
                                        <a ng-show="project.pi.email" ng-href="mailto:[[project.pi.email]]">
                                            <i class="fa fa-envelope-o"></i> [[project.pi.email]]
                                        </a>
                                        <br> [[ project.pi.institution ]]
                                        <br> Username: [[ project.pi.username]]
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Abstract</b></td>
                                    <td>
                                        <div style="padding:0" read-more more-text="...read more" less-text="...less" words="words" limit="30" text-data="[[project.description]]"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Type</b></td>
                                    <td>[[ project.type ]]</td>
                                </tr>
                                <tr>
                                    <td><b>Field of Science</b></td>
                                    <td>[[ project.field ]]</td>
                                </tr>
                            </table>
                            <h3>Allocations</h3>
                            <div ng-if="!project.allocations || project.allocations.length < 1">
                                <div class="alert alert-warning">
                                    There are no allocations for this project.
                                </div>
                            </div>
                            <table ng-if="project.allocations && project.allocations.length > 0">
                                <thead>
                                    <tr>
                                        <th width="20%">Resource</th>
                                        <th width="20%">Requestor</th>
                                        <th width="10%">Status</th>
                                        <th width="50%">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="allocation in project.allocations" ng-show="!allocation.doNotShow">
                                        <td>[[ allocation.resource ]]</td>
                                        <td>[[ allocation.requestor ]]</td>
                                        <td><span ng-class="getClass(allocation)">&nbsp;[[ allocation.status ]]</span></td>
                                        <td>
                                            <div ng-if="allocation.status.toLowerCase() === 'active' || allocation.status.toLowerCase() === 'inactive' || allocation.status.toLowerCase() === 'approved'">
                                                <b>Allocation dates:</b> [[ allocation.start | date:'dd-MMMM-yyyy']] - [[ allocation.end | date:'dd-MMMM-yyyy']]
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br/>
                            <input type="button" value="View usage" ng-click="viewUserUsage(project)" ng-show="project.hasActiveAllocation" ng-disabled="project.showChart" />
                            <div ng-if="project.showChart">
                                <br/>
                                <span><strong>Allocations: </strong></span>
                                <select ng-model="project.selectedAllocation" ng-change="updateChart(project)" ng-options="allocation.resource + ' (' + (allocation.start | date:'dd MMMM yyyy') + ' - ' + (allocation.end | date:'dd MMMM yyyy') + ')' for allocation in getAllocationsWithUsage(project)">
                                </select>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span><strong>Queue: </strong></span>
                                <select ng-model="project.selectedQueue" ng-change="updateChart(project)">
                                    <option value="">-- All queues --</option>
                                    <option value="kvm@tacc">KVM@TACC</option>
                                    <option value="kvm@uc">KVM@UC</option>
                                    <option value="chi@tacc">CHI@TACC</option>
                                    <option value="chi@uc">CHI@UC</option>
                                </select>
                                <br/>
                                <br/>
                                <br/>
                                <span class="well well-sm" ng-if="isLoading('allocationUsage', project)">
                            <span class="fa fa-spinner fa-spin"></span> Loading allocation usage...
                                </span>
                                <div ng-if="!isLoading('allocationUsage', project)"></div>
                                <div ng-if="!isEmpty(getMessages('allocationUsage', project))">
                                    <alert ng-repeat="msg in getMessages('allocationUsage', project)" type="[[msg.type]]">[[msg.body]]</alert>
                                </div>
                                <highchart id="chart-[[project.id]]" config="project.usageChartConfig" ng-if="isEmpty(getMessages('allocationUsage', project))"></highchart>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!isEmpty(messages.userAllocations)">
                    <alert ng-repeat="msg in messages.userAllocations" type="[[msg.type]]">[[msg.body]]</alert>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
