{% load staticfiles %}

<div class="team-member" vocab="http://schema.org/" typeof="Person">
  <img src="/static/{{member.image}}" property="image">
  <h4 property="name">{{member.first_name}} {{member.last_name}}</h4>
  {% if member.organization or member.department %}
    <section>
      {% if member.department %}
        <span property="department">{{ member.department }}</span> <br>
      {% endif %}
      {% if member.organization %}
        <span property="organization">{{ member.organization }}</span> <br>
      {% endif %}
    </section>
  {% endif %}

  {% if member.roles %}
    <section>
      {% for role in member.roles.all %}
      <span property="jobTitle">{{ role.name }}</span><br>
      {% endfor %}
    </section>
  {% endif %}
</div>
