{% extends "layout/default.html" %}

{% block content %}
{% load markdown_deux_tags %}
{% markdown %}
## Chameleon Allocation Request
{% endmarkdown %}

{% include "allocation/includes/allocation_request.html" %}

<form method="post" action="">
{% csrf_token %}
<table>
<tr>
  <td>Granted units:</td>
  <td>{{ form.granted_units }}</td>
  <td><input type="submit" value="Approve Allocation" name="_approve"/></td>
</tr>
<tr>
  <td>Granted duration:</td>
  <td>{{ form.granted_duration }}</td>
</tr>
<tr>
  <td>Deny reason:</td>
  <td>{{ form.deny_reason }}</td>
  <td><input type="submit" value="Deny Allocation" name="_deny"/></td>
</tr>
</table>

</form>

{% endblock %}
