{% extends 'layout/user.html' %}
{% load static bootstrap3 chameleon_tags %}
{% block title %}Add Publications{% endblock %}
{% block content %}

<h2>
    Add Publication
</h2>

<div class="row">
  <div class="col-md-12">
    <h4>Guidelines for Submission:</h4>
    <p>
      This page is for uploading publications
      <b>that have used Chameleon resources for the research they describe ONLY.</b>
    </p>
    <p>
      Please note the following:
    </p>
    <ul>
      <li>
        Use of the system at any stage of the research counts: if for example, you used the system for prototyping, but the final results were obtained elsewhere (or vise versa), that still means that you used the platform for part of the research.
      </li>
      <li>
        The best way to acknowledge Chameleon is <a href="http://localhost:8890/learn/frequently-asked-questions/#toc-how-should-i-cite-chameleon-">to do so in the publication</a>; this also gives you the opportunity to describe exactly how the platform was used.
      </li>
      <li>Publications BibTeX Format:</li>
      <li>
        Mistakes happen and we all sometimes forget – for this reason,
        we provide a way to upload a publication that has been produced
        using Chameleon even if it does not reference the system directly –
        however, at the bottom of the upload form you will be asked to attest
        that the research described in the publication used Chameleon –
        <b>
          please, do NOT upload a paper or provide the attestation unless
          you truly used the system for your research.
        </b>
      </li>
      <li>
        We maintain an updated <a href="/user/projects/chameleon-used-research/">listing of our users' publications</a>
        on the Chameleon web page – many users tell us it is inspirational to browse!
        For this reason, we ask that you include a link to the publication using
        the <code>note</code> or <code>howpublished</code> field with the
        <a href="https://ctan.org/pkg/url">url package</a>. If you would like to NOT have
        your publication linked from our web page, please contact us via <a href="/user/help/">the helpdesk</a>.
      </li>
    </ul>
    <p>
      Please enter your publication(s) in BibTeX format in the
      field below (multiple bibtex entries are OK).
    </p>
  </div>
</div>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form pubs_form %}
  
  <div class="form-group">
    <button type="submit" class="btn btn-success">Add</button>
  </div>
</form>

{% endblock %}
