{% extends 'layout/user.html' %}
{% load static bootstrap3 chameleon_tags %}
{% block title %}Add Publications{% endblock %}
{% block content %}

<h2>
    Add Publication
</h2>

<div class="row">
  <div class="col-md-12">
    <h4>Guidelines for Submission:</h4>
    <ul>
      <li>
        <b>Please ensure that the publications you upload are directly related
        to research or projects that have utilized Chameleon resources.</b>
      </li>
      <li>
        Do not include prior work that did not utilize Chameleon resources.
        Instead, you can mention these during a project allocation submission.
      </li>
      <li>Publications BibTeX Format:</li>
      <ul>
        <li>Please enter your publication(s) in BibTeX format in the field below.
          Include a link to the publication using the <code>note</code>
          or <code>howpublished</code> field with the <a href="https://ctan.org/pkg/url">url package</a>.</li>
      </ul>
    </ul>
    <p>Your cooperation in adhering to these guidelines is appreciated as it
      helps maintain the integrity and relevance of the publications section.</p>
  </div>
</div>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form pubs_form %}
  
  <div class="form-group">
    <button type="submit" class="btn btn-success">Add</button>
  </div>
</form>

{% endblock %}
