{% extends 'layout/user.html' %}
{% load static bootstrap3 chameleon_tags %}
{% block title %}Add Publications for Project - {{ project.chargeCode }}{% endblock %}
{% block content %}

<h2>
    Add Publication |
  <small>{{ project.chargeCode }}</small>
</h2>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <th>PI</th>
        <td>
          {{ project.pi.firstName }} {{ project.pi.lastName }} <a href="mailto:{{ project.pi.email }}">&lt;{{ project.pi.email }}&gt;</a>,
          {% if project.pi.institution %}{{ project.pi.institution}}{% endif %}
        </td>
      </tr>
      <tr>
        <th>Nickname</th>
        <td>
        <span id='project_nickname'>{{ project_nickname|default_if_none:'' }}</span>
          </td>
      </tr>
      <tr>
        <th>Abstract</th>
        <td style="white-space:pre-wrap;">{{ project.description }}</td>
      </tr>
      <tr>
        <th>Tag</th>
        <td>{{ project.tag }}</td>
      </tr>
    </tbody>
  </table>
</div>

<form method="post">
  {% csrf_token %}

  <h4>Publications BibTeX Format:</h4>
  <p>Please enter your publication(s) in BibTeX format in the field below. If available, include a link to the publication using the <code>note</code> or <code>howpublished</code> field with the <a href="https://ctan.org/pkg/url">url package</a>.</p>
  {% bootstrap_form pubs_form %}
  <h4>Guidelines for Submission:</h4>
  <ul>
    <li>Please ensure that the publications you upload are directly related to research or projects that have utilized Chameleon resources.</li>
    <li>Avoid duplicate submissions by checking if your publication is already listed <a href="https://chameleoncloud.org/user/projects/chameleon-used-research/" target="_blank">here</a>.</li>
    <li>In addition, it helps us a lot when you cite the Chameleon paper. Please refer <a href="https://chameleoncloud.org/learn/frequently-asked-questions/#toc-how-should-i-acknowledge-chameleon-" target="_blank">to the FAQ</a> on how to acknowledge and cite Chameleon.</li>
  </ul>

  <p>Your cooperation in adhering to these guidelines is appreciated as it helps maintain the integrity and relevance of the publications section.

  <div class="form-group">
    <button type="submit" class="btn btn-success">Add</button>
  </div>
</form>

{% endblock %}
