{% extends "layout/default.html" %}
{% load static bootstrap3 chameleon_tags %}
{% block title %}Add Publications for Project - {% endblock %}
{% block content %}

  <h1>Chameleon Used In Research</h1>
  <table id="example" class="table table-striped table-bordered align-middle" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Forum</th>
            <th>Authors</th>
            <th>Cites</th>
        </tr>
    </thead>
    <tbody>
      {% for p in pubs %}
        <tr>
            <td>
              {% if p.doi %}
                <a href="https://doi.org/{{p.doi}}">{{p.title}}</a>
              {% elif p.link %}
                <a href="{{p.link}}">{{p.title}}</a>
              {% else %}
                {{p.title}}
              {% endif %}
            </td>
            <td>{{p.year}}</td>
            <td>{{p.forum}}</td>
            <td>{{p.author}}</td>
            <td>{{p.max_cites_from_all_sources}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
