{% extends 'layout/user.html' %}

{% load bootstrap3 %}

{% block title %}Create Project{% endblock %}

{% block content %}
<h2>Create a New Project</h2>

<form method="post">
  {% csrf_token %}

  <p class="lead">
    To find out more about applying for projects please
    <a target="_blank" href="https://chameleoncloud.readthedocs.io/en/latest/user/project.html">visit our FAQ</a>.
  </p>

  {% bootstrap_form form %}
  
  {% bootstrap_form allocation_form %}
  
  {% include "projects/fundings.html" %}

  <div class="form-group">
    <label class="control-label">Project ID</label>
    <input type="text" disabled readonly class="form-control" placeholder="CHI-XXXXXX">
    <p class="help-block">Project ID will be assigned upon creation</p>
  </div>
  
    
  {% bootstrap_form consent_form %}

  <div class="form-group">
    <button type="submit" class="btn btn-success">Create Project</button>
    <a href="{% url 'projects:user_projects' %}" class="btn btn-default">Cancel</a>
  </div>
</form>

{% endblock %}
