{% extends 'layout/user.html' %}

{% load bootstrap3 %}

{% block title %}
    {% if alloc_id != -1 %}
        {% if alloc.status == 'Rejected' %}
            Resubmit
        {% else %}
            Recharge/Extend
        {% endif %}
    {% else %}
        Create
    {% endif %}
        Allocation
{% endblock %}

{% block content %}
<h2>
    {% if alloc_id != -1 %}
        {% if alloc.status == 'Rejected' %}
            Resubmit Allocation #{{alloc_id}}
        {% else %}
            Recharge/Extend Allocation #{{alloc_id}}
        {% endif %}
    {% else %}
        Create a New Allocation
    {% endif %}
    for Project {{project.chargeCode}}
</h2>

{% if alloc_id != -1 %}
    {% if alloc.status == 'Rejected' %}
        <p class="lead">
            Your initial allocation request was not approved. You can update your request
            according to the decision summary (below) and resubmit your request for
            additional review.
        </p>
        <p class="lead">
            <em>Decision summary:</em>
            {{alloc.decisionSummary}}
        </p>
    {% else %}
        <p class="lead">
            If you are running low on SUs or your allocation period is expiring, you can
            submit a recharge request. <font color="red">Please, 1) make sure you have 
            an up-to-date <a href="/user/projects/publications/">publication list</a> 
            2) add a paragraph to the Request Justification window to briefly describe 
            work done to date and briefly explain why you need a recharge/extension.
            </font> An accepted request will grant up to an additional 20,000 SUs and 
            extend the end date of the allocation for up to an additional 6 months.
        </p>
    {% endif %}
{% endif %}

<form method="post">
  {% csrf_token %}

  {% bootstrap_form form %}
  
  {% include "projects/fundings.html" %}   
  
  {% bootstrap_form consent_form %}

  <div class="form-group">
    <button type="submit" class="btn btn-success">Submit Request</button>
    <a href="{% url 'projects:view_project' project.id %}" class="btn btn-link">Cancel</a>
  </div>
</form>

{% endblock %}
