<!-- THIS TEMPLATE IS DEPRECATED -->
<!-- This template is being overridden by portal/chameleon/projects/user_projects.html -->

<h1>Projects</h1>

{% if is_pi_eligible %}
<a href="{% url 'projects:create_project' %}" class="btn btn-info pull-right">
  <i class="fa fa-plus-circle"></i> Create a Project
</a>
{% endif %}

{% for p in projects %}

<h4>
  {{ p.title }} |
  <small>{{ p.chargeCode }}</small>
  &nbsp;&nbsp;<a href="{% url 'projects:view_project' p.id %}" class="btn btn-default">View Project</a>
</h4>

<table class="table table-responsive" data-project-id="{{ p.id }}">
  <tbody>
    <tr>
      <th>PI</th>
      <td>{{ p.pi.firstName }} {{ p.pi.lastName }} <a href="mailto:{{ p.pi.email }}">&lt;{{ p.pi.email }}&gt;</a></td>
    </tr>
    <tr>
      <th>Abstract</th>
      <td>{{ p.description }}</td>
    </tr>
  </tbody>
</table>

<hr>
{% empty %}
  <div class="jumbotron">
    <h1>You don't have any projects!</h1>

    {% if is_pi_eligible %}
    <p>
      PI eligible users can
      <a href="{% url 'projects:create_project' %}" class="btn btn-primary">
        <i class="fa fa-plus-circle"></i>
        Create a New Project
      </a>.
    </p>
    {% else %}
    <p>Contact your PI and ask to be added to their project.</p>
    {% endif %}
  </div>
{% endfor %}
