{% extends 'layout/user.html' %}
{% load staticfiles bootstrap3 chameleon_tags %}
{% block title %}Publications{% endblock %}
{% block content %}

<a href="{% url 'publications:add_publications' %}" class="btn btn-info pull-right">
    <i class="fa fa-plus-circle"></i> Add a Publication
  </a>
<h2>Publications</h2>
{% for p in publications %}

<h4>
  {{ p.title }} |
  <small>{% if p.nickname %} {{p.nickname}} {% else %} {{ p.chargeCode }} {% endif %}</small>
  &nbsp;&nbsp;<a href="{% url 'projects:view_project' p.id %}" class="btn btn-default">View Project</a>
</h4>



<table class="table table-responsive" data-project-id="{{ p.id }}">
  <tbody>
    <tr>
      <th>Author(s)</th>
      <td>{{ p.author }}</td>
    </tr>
    <tr>
      <th>Abstract</th>
      <td>{{ p.abstracr }}</td>
    </tr>
  </tbody>
</table>

{% endfor %}

{% endblock %}




{% endblock %}