{% extends 'layout/user.html' %}
{% load staticfiles bootstrap3 chameleon_tags %}
{% block title %}Project - {{ project.chargeCode }}{% endblock %}
{% block content %}
<h2>
  {{ project.title }} |
  <small>{{ project.chargeCode }}</small>
</h2>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <th>PI</th>
        <td>
          {{ project.pi.firstName }} {{ project.pi.lastName }} <a href="mailto:{{ project.pi.email }}">&lt;{{ project.pi.email }}&gt;</a>,
          {{ project.pi.institution}}
        </td>
      </tr>
      <tr>
        <th>Nickname</th>
        <td style="white-space:pre-wrap;">{% if project.nickname %} {{ project.nickname }}{%endif%}&nbsp;</td>
      </tr>
      <tr>
        <th>Abstract</th>
        <td style="white-space:pre-wrap;">{{ project.description }}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{ project.type }}</td>
      </tr>
      <tr>
        <th>Field of Science</th>
        <td>{{ project.field }}</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Allocations</h3>
<div class="allocations">
  {% if project.has_inactive_allocations %}
    <button class="btn btn-xs btn-default pull-right" name="allocation-display-toggle">Toggle inactive allocations</button>
  {% endif %}

  {% if not project.has_active_allocations and not project.has_approved_allocations and not project.has_pending_allocations %}
    {% if project.has_rejected_allocations %}
      {% for alloc in project.rejected_allocations %}
        {% include 'projects/allocation.html' %}
      {% endfor %}
    {% else %}
      <div class="alert alert-info">
        <h4>No current allocations</h4>
        <p>
          You don't have any current allocations. This could be because your allocation
          recently expired or your project is new and you have not requested one yet.
          Please click on the <b>Request Allocation</b> below to get started!
        </p>
      </div>
      <a class="btn btn-primary btn-sm" href="{% url 'projects:create_allocation' project.id %}">
        <i class="fa fa-plus"></i>
        Request Allocation
      </a>
    {% endif %}

  {% else %}
    {% for alloc in project.active_allocations %}
      {% include 'projects/allocation.html' %}
    {% endfor %}
    {% for alloc in project.approved_allocations %}
      {% include 'projects/allocation.html' %}
    {% endfor %}
    {% for alloc in project.pending_allocations %}
      {% include 'projects/allocation.html' %}
    {% endfor %}
  {% endif %}

  {% if project.has_active_allocations or project.has_approved_allocations or project.has_pending_allocations %}
     {% if project.has_rejected_allocations %}
       {% for alloc in project.rejected_allocations %}
         {% include 'projects/allocation.html' %}
       {% endfor %}
     {% endif %}
  {% endif %}

  {% for alloc in project.inactive_allocations %}
    {% include 'projects/allocation.html' %}
  {% endfor %}
</div>

<h3>Project Users</h3>

{% if is_pi %}
<form class="form-inline" role="form" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="form-group">
    <button type="submit" class="btn btn-default" name="add_user">Add user</button>
  </div>
</form>
{% endif %}

<h4>Current Users</h4>
<ul class="list-unstyled">
  {% for u in users %}
  <li>
    {{ u.username }} ({{ u.role }})
    {% if is_pi and u.username != request.user.username %}
      <form role="form" method="post" style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ u.username }}">
        <button type="submit" class="btn btn-xs btn-link" name="del_user"><i class="fa fa-minus-square text-danger"></i><span class="sr-only">Remove user</span></button>
      </form>
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% if project.has_active_allocations %}
<h3>Usage</h3>
{% for alloc in project.active_allocations %}
<div id="usageChart" start="{{alloc.start|date:'Y-m-d'}}" end="{{alloc.end|date:'Y-m-d'}}" allocation-id="{{alloc.id}}" project-id="{{project.id}}" ></div>
{% endfor %}
{% endif %}

{% endblock %}


{% block scripts %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{% static 'projects/js/allocations.js' %}" type="text/javascript"></script>
{% endblock %}
