{% extends 'layout/user.html' %}
{% load staticfiles bootstrap3 chameleon_tags %}
{% block title %}Publications{% endblock %}
{% block content %}

<h2>Publications</h2>
{% for p in publications %}

<p>
<form role="form" method="post" style="display:inline">
  {% csrf_token %}
  <input type="hidden" name="pub_ref" value="{{ p.id }}">
  <button type="submit" class="btn btn-xs btn-link" name="del_pub"><i class="fa fa-minus-square text-danger"></i><span class="sr-only">Remove publication</span></button>
</form>
<small>[{% if p.nickname %} {{p.nickname}} {% else %} {{ p.chargeCode }} {% endif %}]</small>
<a href="{{ p.link }}">{{ p.title }}</a>, {{ p.author }} In <i>{{ p.forum }}</i>. {{ p.month }} {{ p.year }}
</p>

{% endfor %}

{% endblock %}