{% extends "layout/default.html" %}

{% load recaptcha3 %}
{% load bootstrap3 %}

{% block head_scripts %}
{% recaptcha_init %}
{% recaptcha_ready action_name='ticket/new/guest' %}
{% endblock %}

{% block title %}Create a Ticket{% endblock %}

{% block content %}
<h1>Submit a new ticket</h1>
<h4>In order to help us address your issue in a timely manner, please be sure to provide your project name
  and the details of your problem, including the UUID of the instance or lease in question if applicable.</h4>
<p><i>Fields marked with <label class="required"></label> are required.</i></p>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}

  {% bootstrap_button "Submit Ticket" button_type="submit" button_class="btn-success" %}
  {% bootstrap_button "Cancel" button_type="reset" button_class="btn-default" %}

</form>
{% endblock %}
