{% extends 'layout/default.html' %} {% load sekizai_tags staticfiles %} {% block title %}Resource Discovery{% endblock %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'g5k_discovery/css/custom.css' %}"> {% endblock %} {% block content %}

<body ng-app="discoveryApp" class="discovery-app" ng-cloak>
    <div class="content" ng-controller="AppController">
        <div ng-if="loading" class="well">
            <h4><span class="fa fa-refresh fa-spin"></span> Loading...</h4>
        </div>
        <div ng-if="!loading">
            <div ng-if="loadingError" class="well alert alert-error">There was an error. Please try again.</div>
            <div ng-if="!loadingError">
                <h2 class="title">Nodes</h2>
                <div class="col col-sm-12">
                    <strong>[[filteredNodes.length]] nodes</strong>
                    <span ng-if="selectedNodes.length !== allNodes.length">
                filtered from [[allNodes.length]] originally.
                <button ng-click="resetUI()">Reset all Filters</button>
              </span>
                </div>
                <div class="col col-sm-12">&nbsp;</div>
                <div class="col col-sm-2 filter-block">
                    <strong>Site</strong>
                    <div ng-repeat="(key, value) in filterSite track by $index">
                        <input type="checkbox" name="[[key]]" ng-model="appliedFilters.site[key]" ng-change="applyFilter()"> [[snakeToReadable(key)]] ([[value.length]])
                    </div>
                </div>
                <div class="col col-sm-2 filter-block">
                    <strong>Cluster</strong>
                    <div ng-repeat="(key, value) in filterCluster track by $index">
                        <input type="checkbox" name="[[key]]" ng-model="appliedFilters.cluster[key]" ng-change="applyFilter()"> [[snakeToReadable(key)]] ([[value.length]])
                    </div>
                </div>
                <div ng-repeat="(key, value) in filterMainMemory track by $index" class="col col-sm-2 filter-block">
                    <strong>[[snakeToReadable(key)]]</strong>
                    <div ng-repeat="(k, v) in value track by $index">
                        <input type="checkbox" name="[[k]]" ng-model="appliedFilters.main_memory[key][k]" ng-change="applyFilter()"> [[snakeToReadable(k)]] ([[v.length]])
                    </div>
                </div>
                <div ng-repeat="(key, value) in filterArchitecture track by $index" class="col col-sm-2 filter-block">
                    <strong>[[snakeToReadable(key)]]</strong>
                    <div ng-repeat="(k, v) in value track by $index">
                        <input type="checkbox" name="[[k]]" ng-model="appliedFilters.architecture[key][k]" ng-change="applyFilter()"> [[snakeToReadable(k)]] ([[v.length]])
                    </div>
                </div>
                <div ng-repeat="(key, value) in filterProcessor track by $index" class="col col-sm-2 filter-block">
                    <strong>Processor [[snakeToReadable(key)]]</strong>
                    <div ng-repeat="(k, v) in value track by $index">
                        <input type="checkbox" name="[[k]]" ng-model="appliedFilters.processor[key][k]" ng-change="applyFilter()"> [[snakeToReadable(k)]] ([[v.length]])
                    </div>
                </div>
                <div ng-repeat="(key, value) in filters track by $index" class="filter-section">
                    <div ng-if="!isNestedObject(value) && !isArray(value)">
                        <div class="col col-sm-2 filter-block">
                            <strong>[[snakeToReadable(key)]]</strong>
                            <div ng-repeat="(k, v) in value track by $index">
                                <input type="checkbox" name="[[k]]" ng-model="appliedFilters[key][k]" ng-change="applyFilter()"> [[snakeToReadable(k)]] ([[v.length]])
                            </div>
                        </div>
                    </div>
                    <div ng-if="isArray(value)" ng-init="collapsed = true" class="col-sm-12 ">
                        <h5 class="bg-primary pseudolink" ng-click="collapsed = !collapsed"><strong>[[snakeToReadable(key)]]</strong>
                             <span ng-show="!collapsed" class="pull-right">Less&nbsp;&nbsp;<i class="fa fa-caret-down"></i></span>
                             <span ng-show="collapsed" class="pull-right">More&nbsp;&nbsp;<i class="fa fa-caret-right"></i></span>
                        </h5>
                        <div ng-repeat="val in value track by $index" ng-show="!collapsed" class="col-sm-12" ng-init="arrayIndex = $index">
                            <h5 class="bg-success"><strong>[[snakeToReadable(key)]] #[[$index]]</strong></h5>
                            <div ng-repeat="(ky, vl) in val track by $index" class="col col-sm-2 filter-block">
                                <strong>[[snakeToReadable(ky)]]</strong>
                                <div ng-repeat="(k, v) in vl track by $index">
                                    <input type="checkbox" name="[[k]]" ng-model="appliedFilters[key][arrayIndex][ky][k]" ng-change="applyFilter()"> [[snakeToReadable(k)]] ([[v.length]])
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="isNestedObject(value) && !isArray(value)" class="col-sm-12">
                        <h5 class="bg-primary"><strong>[[snakeToReadable(key)]]</strong>
                        </h5>
                        <div ng-repeat="(ky, vl) in value track by $index" class="col col-sm-2 filter-block">
                            <strong>[[snakeToReadable(ky)]]</strong>
                            <div ng-repeat="(k, v) in vl track by $index">
                                <input type="checkbox" name="[[k]]" ng-model="appliedFilters[key][ky][k]" ng-change="applyFilter()"> [[snakeToReadable(k)]] ([[v.length]])
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %} {% block scripts %}
<script src="{% static 'g5k_discovery/underscore/underscore.js' %}"></script>
<script src="{% static 'g5k_discovery/angular/angular.js' %}"></script>
<script src="{% static 'djangular/js/django-angular.min.js' %}"></script>
<script src="{% static 'g5k_discovery/scripts/app.js' %}"></script>
<script src="{% static 'g5k_discovery/scripts/factory.js' %}"></script>
<script src="{% static 'g5k_discovery/scripts/controller.js' %}"></script>
{% endblock %}
