{% load static sekizai_tags pipeline %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}{% endblock %}</title>
      <meta name="viewport" co ntent="width=device-width">
      {% addtoblock "css" %}
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css">
        {% stylesheet "embed" %}
      {% endaddtoblock %}
      {% render_block "css" %}
  </head>
  <body>
    <div class="embed-wrap">
      {% include "includes/messages.html" %}
      {% block content %}{% endblock %}
    </div>
    {% addtoblock "js" %}
      {% javascript "embed" %}
    {% endaddtoblock %}
    {% render_block "js" %}
  </body>
</html>
