{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'status/style.css' %}" />

<h1>System Status</h1>

{% if systems %}
  <table border="1">
  <tr> <th>System</th> <th>Location</th> <th>Status</th> <th>Load</th> </tr>
  {% for system in systems %}
  <tr>
    <td><a href="{{ system.name }}"/>{{system.name}}</a></td> 
    <td>{{ system.location }}</td>
    <td>{{ system.status }}</td> 
    <td>{{ system.load }}</td> 
  </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No known systems???</p>
{% endif %}

<h1>Current Outages</h1>

{% if outages %}
  <table border="1">
  <tr>
    <th>Status</th>
    <th>Reason</th>
    <th>Title</th>
    <th>Affected Systems</th>
    <th>Start of Outage</th>
    <th>Anticipated End of Outage</th>
  </tr>
  {% for outage in outages %}
  <tr>
    <td>{{ outage.status }}</td> 
    <td>{{ outage.reason }}</td>
    <td>{{ outage.title }}</td>
    <td>{{ outage.affected_systems }}</td>
    <td>{{ outage.start_date }}</td>
    <td>{{ outage.end_date }}</td>
  </tr>
  {% endfor %}
  </table>
{% else %}
  <p>There are currently no outages.</p>
{% endif %}
