{% load markdown_deux_tags %}
{% markdown %}

In order to request a Chameleon allocation, you must agree to the following:

* I will acknowledge my use of Chameleon in papers, presentations, and other publications that relied on the
use of Chameleon. I will include the following acknowledgement in such documents:

  * This work used the Chameleon cloud testbed, which is supported by National Science Foundation under grants
    1419123, 1419138, 1419141, 1419152, 1419165.

* I will provide Chameleon with citations to papers, presentations, and other publications that were developed
at least in part based on the use of Chameleon.

* I will provide a brief description of the results of my Chameleon allocation when the allocation ends or is
renewed or extended.

{% endmarkdown %}
