
{% load markdown_deux_tags %}
{% markdown %}

|| Title || {{allocation_request.title}} ||
|| Name || {{allocation_request.name}} ||
|| Key words || {{allocation_request.key_words}} ||
|| Requester || {{allocation_request.requester.first_name}} {{allocation_request.requester.last_name}} ||
|| email || {{allocation_request.requester.email}} ||
|| NSF grant || {{allocation_request.nsf_grant}} ||
|| Project URL || {{allocation_request.project_url}} ||
|| Request type || {{allocation_request.get_request_type_display}} ||
|| Units || {{allocation_request.units}} ||
|| Duration || {{allocation_request.duration}} ||
|| Accept agreement || {{allocation_request.accept_allocation_agreement}} ||
|| Submit date || {{allocation_request.submit_date}} ||
|| Status || {{allocation_request.get_status_display}} ||
{% for resource in allocation_request.resources.all %}
|| Resource || {{resource.name}} ||
{% endfor%}
{% for field in allocation_request.sfield_of_science.all %}
|| Field of science || {{field.name}} ||
{% endfor%}
{% for user in allocation_request.initial_users.all %}
|| Initial user || {{user.first_name}} {{user.last_name}} ||
{% endfor%}
|| Description || {{allocation_request.description}} ||

Abstract: {{allocation_request.abstract}}

{% endmarkdown %}
