@import 'compass/css3';

h1, h2, h3 {
  font-weight: 400;
  border-bottom: 3px solid;
  margin: 0.67em 0;
}

h1 {
  color: $brand-info;
  border-color: $brand-info;
}

h2 {
  color: $brand-success;
  border-color: $brand-success;
}

h3 {
  color: $brand-info;
  border-color: $brand-info;
}

h1 a, h1 a:hover, h1 a:focus,
h2 a, h2 a:hover, h2 a:focus,
h3 a, h3 a:hover, h3 a:focus {
  color: inherit;
}

.front {

  .jumbotron {
    border-bottom: 3px solid $brand-info;
    background: #fff;
    padding: 0;
    margin-bottom: 0;

    h1 {
      font-weight: 300;
      color: $grey-dark;
      border: 0;
    }
  }

  .social-wrapper {
    position: relative;
  }

  .social {
    > a {
      color: #fff;
      background-color: $brand-info;
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      text-align: center;
    }

    &.social-front {
      float: right;
      margin-top: -1.5em;
    }
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .front-features h2 {
    min-height: 2.4em;
  }
}

@media screen and (min-width:768px) {
  .front .jumbotron h1 {
    font-size: 2em;
  }
}

@media screen and (min-width:992px) {
  .front .jumbotron h1 {
    font-size: 2.75em;
  }
}

@media screen and (min-width:1200px) {
  .front .jumbotron h1 {
    font-size: 3.5em;
  }
}

html, body {
  background-color: #f2f2f2
}

.site-footer {
  background-color: #f2f2f2;
  border-top: 3px solid #9ad61a;
  padding-top: 2em;
}

.main {
  background-color: #fff;
  background-image: url(../images/bg.jpg);
  background-repeat: repeat-x;
  min-height: 400px;
  padding-top: 1em;
  padding-bottom: 2em;

  & > .container {
    position: relative;
  }

  overflow: hidden;
}

.team-member {
  font-size: 0.8em;
  border-bottom: 2px solid $brand-success;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  @include clearfix();

  img {
    float: right;
    width: 80px;
  }

  h4 {
    font-size: 1.25em;
  }

  section {
    padding-bottom: 0.5em;
  }
}

.site-header {
  background-image: url(../images/nav-bg.jpg);

  .nav > li.active > a {
    background-color: rgba(#333, .1);
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background-color: rgba(#eee, .25);
  }
}

.navbar-brand > img {
  margin-top: -22px;
}

.partners {
  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
  }

  margin-bottom: 1em;
}

article {
  position: relative;
  margin-bottom: 2em;

  @include clearfix();

  h2 {
    border: 0;
    margin-bottom: 0.33em;

    .post-date {
      white-space: nowrap;
      text-transform: none;
    }
  }

  .meta {
    color: $grey;
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }

  &.block {
    position: relative;
    border-color: $brand-success;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding: 0 0.75em;
    margin-bottom: 0.5em;
    height: 180px;
    overflow: hidden;

    h2 {
      position: relative;
      font-size: 1.25em;
      text-transform: uppercase;
      color: $brand-success;
    }

    .post-content {
      text-overflow: ellipsis;
      position: relative;

      img {
        max-height: 5.5em;
      }
    }

    .read-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: right;
      @include background-image(linear-gradient(to bottom, rgba(255,255,255,0.2), white));
    }
  }
}

.article-list article {
  border-bottom: 2px solid $brand-success;
}

.read-more-link {
  display: inline-block;
  text-transform: uppercase;
  padding: 1px 3px;
  color: #fff;
  background-color: $brand-success;
  border: 0;
}

.messages {
  margin: 1em 0;
}

.navbar-chameleon {
  .navbar-toggle {
    border-color: white;
    // color: $brand-info;
    background-color: $brand-info;

    .icon-bar {
      background-color: white;
    }

    &:hover {
      background-color: darken($brand-info, 10%);
    }
  }
}

@media screen and (min-width:768px) and (max-width:991px) {
  .navbar-chameleon {
    .navbar-brand {
      width: 175px;
      img {
        margin-top: -16px;
      }
    }
  }
}

@media screen and (min-width:768px) {
  .navbar-chameleon .navbar-nav > .navbar-btn-alt > a {
    padding: 3px 10px;
    margin: 20px 4px;
    border: 1px solid #4564E2;
  }

  .site-header .nav > li.navbar-btn-alt.active > a {
    background-color: inherit;
  }

  .site-header .nav > li.navbar-btn-alt > a:hover,
  .site-header .nav > li.navbar-btn-alt > a:focus {
    background-color: rgba(#eee, .25);
  }
}

.btn-highlight {
  color: #fff;
  background-color: #eda711;
  border-color: #cd910f;

  &:hover {
    color: #fff;
    background-color: #cd910f;
    border-color: #9e6f0b;
  }

  &:focus {
    color: #fff;
  }
}