/* bootstrap */
$brand-primary: #9ad61a;
$brand-info: #239ff0;
$brand-success: #74a93c;
$brand-danger: red;
$grey: #7e7e7e;
$grey-med: #aaaaaa;
$grey-light: #e5e5e5;
$grey-lighter: #f2f2f2;

$grey-dark: #494949;

$link-color: #4564E2;
$link-hover-color: darken($link-color, 10%);
$link-active-color: $link-hover-color;

$font-size-base: 16px;
$font-family-sans-serif: "Source Sans Pro", Helvetica, sans-serif;

$navbar-height: 70px;
$navbar-margin-bottom: 0;

/* fontawesome */
$fa-font-path: "../fonts/fontawesome";

.alert-error {
  @extend .alert-danger;
}
