{% extends "layout/default.html" %}

{% load markdown_deux_tags %}

{% block content %}
{% markdown %}

# Project Schedule

|| Fall 2014 || FutureGrid resources at UC and TACC available as OpenStack clouds ||
|| Spring 2015 || Initial bare metal reconfiguration available on FutureGrid UC and TACC resources for early users ||
|| Summer 2015 || New large-scale homogenous nodes available to early users ||
|| Fall 2015 || Large-scale homogenous nodes generally available ||
|| 2015/2016 || Refinements to experiment management capabilities ||
|| Fall 2016 || Heterogeneous hardware available ||

{% endmarkdown %}
{% endblock %}
