{% extends "layout/default.html" %}
{% load static chameleon_tags bootstrap3 %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<h2>Edit Profile <small>| {{ user.username }} </small></h2>

<div class="row">
  <div class="col-md-6">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group">
        <label>PI Eligibility</label>
        {% if piEligibility|lower == 'eligible' %}
          <div class="checkbox">
            <label>
              <input type="checkbox" checked disabled>
              Eligible
            </label>
          </div>
        {% elif piEligibility|lower == 'requested' %}
          <div class="checkbox">
            <label>
              <input type="checkbox" checked disabled>
              Requested
            </label>
          </div>
          <p class="help-block">
            You have requested PI Eligibility. The Chameleon accounting team is reviewing your
            request.
          </p>
        {% else %}
          <div class="checkbox">
            <label>
              {% if canRequestPI %}
              <input type="checkbox" id="id_request_pi_eligibility" name="request_pi_eligibility" disabled onchange="pieRequest();">
              {% else %}
              <input type="checkbox" id="id_request_pi_eligibility" name="request_pi_eligibility" onchange="pieRequest();">
              {% endif %}
              Request PI Eligibility
            </label>
          </div>
          <div id="directorylinkdiv" style="display:none">
            <label for="directorylink">Department directory link:</label>
            <input type="url" id="directorylink" name="directorylink">
            <p class="help-block">
              Please provide a link to your institution's department directory or 
              any other official institution page where information confirming your 
              current appointment can be found.
            </p>
          </div>
          <p class="help-block">
            Users who intend to create and lead projects on Chameleon must meet the PI Eligibility requirements.
            <a href="/docs/getting-started/pi-eligibility/">Please review the PI Eligibility requirements</a> to
            determine if you qualify as PI Eligible.
          </p>
        {% endif %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Save Profile</button>
        <a href="{% url 'tas:profile' %}" class="btn btn-default">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
function profileTitleUpdate(value) {
	var request_checkbox = document.getElementById('id_request_pi_eligibility');
	if (value.toLowerCase().includes("student")) {
		request_checkbox.disabled = true;
		request_checkbox.checked = false;
	} else {
		request_checkbox.disabled = false;
	}
	pieRequest();
}

function pieRequest() {
	  var request_checkbox = document.getElementById("id_request_pi_eligibility");
	  var inputdiv = document.getElementById("directorylinkdiv");
	  var directory_input = document.getElementById("directorylink");
	  if (request_checkbox.checked == true){
		  inputdiv.style.display = "block";
		  directory_input.required = true;
	  } else {
		  inputdiv.style.display = "none";
		  directory_input.required = false;
	  }
}
</script>
{% endblock %}
