{% extends "layout/default.html" %}
{% load staticfiles chameleon_tags bootstrap3 %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<h2>Edit Profile <small>| {{ user.username }} </small></h2>

{% comment %}
{% if profile %}
<form method="post" action="{% url 'tas:profile_edit' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" for="firstName">First name</label>
        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First name" value="{{ profile.firstName }}">
      </div>

      <div class="form-group">
        <label class="control-label" for="lastName">Last name</label>
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name" value="{{ profile.lastName }}">
      </div>

      <div class="form-group">
        <label class="control-label" for="email">Email address</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Email address" value="{{ profile.email }}">
      </div>

      <div class="form-group">
        <label class="control-label" for="institutionId">Institution</label>
        {% if institutions %}
        <select class="form-control" name="institutionId" id="institutionId">
          <option value="">Choose one</option>
            {% for inst in institutions %}
            <option {% if inst.id == profile.institutionId %}selected{% endif %} value="{{ inst.id }}" data-depts="{{ inst.children|to_json }}">{{ inst.name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <p class="alert alert-danger">Error loading institutions</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label class="control-label" for="departmentId">Department</label>
        {% if institutions %}
        <select class="form-control" name="departmentId" id="departmentId">
          <option value="">Choose one</option>
            {% for dept in curr_inst.children %}
            <option {% if dept.id == profile.departmentId %}selected{% endif %} value="{{ dept.id }}">{{ dept.name }}</option>
            {% endfor %}
        </select>
        {% else %}
        <p class="alert alert-danger">Error loading departments</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label class="control-label" for="countryId">Country</label>
        {% if countries %}
        <select class="form-control" name="countryId" id="countryId">
          <option value="">Choose one</option>
          {% for country in countries %}
          <option value="{{ country.id }}" {% if country.id == profile.countryId %}selected{% endif %}>{{ country.name }}</option>
          {% endfor %}
        </select>
        {% else %}
          <p class="alert alert-danger">Error loading countries</p>
        {% endif %}
      </div>

      <div class="form-group">
        <label class="control-label" for="citizenshipId">Citizenship</label>
        {% if countries %}
        <select class="form-control" name="citizenshipId" id="citizenshipId">
          <option value="">Choose one</option>
          {% for country in countries %}
          <option value="{{ country.id }}" {% if country.id == profile.citizenshipId %}selected{% endif %}>{{ country.name }}</option>
          {% endfor %}
        </select>
        {% else %}
          <p class="alert alert-danger">Error loading countries</p>
        {% endif %}
      </div>

      <div class="form-group">
        {% if profile.piEligibility|lower == "ineligible" %}
          <div class="checkbox">
            <label><input type="checkbox" name="piEligibility" id="piEligibility" value="false"> Request PI Eligibility</label>
          </div>
          <p class="help-block">
            Users who intend to create and lead projects on Chameleon must meet the PI Eligibility requirements.
            <a href="/docs/getting-started/pi-eligibility/">Please review the PI Eligibility requirements</a> to
            determine if you qualify as PI Eligibile.
          </p>
        {% elif profile.piEligibility|lower == "requested" %}
          <label class="control-label">PI Eligibility</label>
          <p class="form-static-control">Requested</p>
        {% else %}
          <label class="control-label">PI Eligibility</label>
          <p class="form-static-control">Eligible</p>
        {% endif %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Save Profile</button>
        <a href="{% url 'tas:profile' %}" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>
</form>

{% else %}
  <div class="alert alert-danger">
    <p>There was an error loading your profile information.</p>
  </div>
{% endif %}
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      <div class="form-group">
        <label>PI Eligibility</label>
        {% if user.piEligibility|lower == 'eligible' %}
          <div class="checkbox">
            <label>
              <input type="checkbox" checked disabled>
              Eligible
            </label>
          </div>
        {% elif user.piEligibility|lower == 'requested' %}
          <div class="checkbox">
            <label>
              <input type="checkbox" checked disabled>
              Requested
            </label>
          </div>
          <p class="help-block">
            You have requested PI Eligibility. The Chameleon accounting team is reviewing your
            request.
          </p>
        {% else %}
          <div class="checkbox">
            <label>
              <input type="checkbox" id="id_request_pi_eligibility" name="request_pi_eligibility">
              Request PI Eligibility
            </label>
          </div>
          <p class="help-block">
            Faculty and Research Staff from U.S.-based institutions can request PI
            Eligibility. If you are not PI Eligible and would like to request to be
            eligible, please check the box above.
          </p>
        {% endif %}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Save Profile</button>
        <a href="{% url 'tas:profile' %}" class="btn btn-default">Cancel</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'tas/js/institution_departments.js' %}"></script>
{% endblock %}
