{% extends "layout/default.html" %}

{% load chameleon_tags %}

{% block title %}Register{% endblock %}

{% block content %}
<h2>Register</h2>

<form method="post" action="{% url 'tas:register' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Contact Information</legend>
        <div class="form-group {% if form.errors.firstName %}has-error{% endif %}">
          <label class="control-label" for="firstName">First name</label>
          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First name" value="{{ form.data.firstName }}">
          <p class="help-block">{{ form.errors.firstName }}</p>
        </div>

        <div class="form-group {% if form.errors.lastName %}has-error{% endif %}">
          <label class="control-label" for="lastName">Last name</label>
          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name" value="{{ form.data.lastName }}">
          <p class="help-block">{{ form.errors.lastName }}</p>
        </div>

        <div class="form-group {% if form.errors.email %}has-error{% endif %}">
          <label class="control-label" for="email">Email address</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="Email address" value="{{ form.data.email }}">
          <p class="help-block">{{ form.errors.email }}</p>
        </div>

        <div class="form-group {% if form.errors.institutionId %}has-error{% endif %}">
          <label class="control-label" for="institutionId">Institution</label>
          {% if institutions %}
          <select class="form-control" name="institutionId" id="institutionId">
            <option value="">Choose one</option>
              {% for inst in institutions %}
              <option {% if inst.id == form.data.institutionId %}selected{% endif %} value="{{ inst.id }}" data-depts="{{ inst.children|dictsort:"name"|to_json }}">{{ inst.name }}</option>
              {% endfor %}
              <optgroup label="Not Listed">
                <option value="0" {% if 0 == form.data.institutionId %}selected{% endif %}>My Institution is not listed</option>
              </optgroup>
          </select>
          {% else %}
          <p class="alert alert-danger">Error loading institutions</p>
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.departmentId %}has-error{% endif %}">
          <label class="control-label" for="departmentId">Department</label>
          {% if institutions %}
          <select class="form-control" name="departmentId" id="departmentId">
            <option value="">Choose one</option>
              {% for dept in curr_inst.children|dictsort:"name" %}
              <option {% if dept.id == form.data.departmentId %}selected{% endif %} value="{{ dept.id }}">{{ dept.name }}</option>
              {% endfor %}
          </select>
          {% else %}
          <p class="alert alert-danger">Error loading departments</p>
          {% endif %}
        </div>

        <p>
          <a tabindex="-1" href="#" id="institutionNotListed"><i class="fa fa-question-circle"></i> My Institution is not listed</a>
        </p>
        <div id="newInstitution" class="form-group hide">
          <label class="control-label" for="institution">Institution name</label>
          <input class="form-control" type="text" name="institution" id="institution" value="{{ form.data.institution }}">
          <p class="help-block">
            If your institution is not listed, please provide the name of the institution
            as it should be shown here.
          </p>
        </div>

        <div class="form-group {% if form.errors.countryId %}has-error{% endif %}">
          <label class="control-label" for="countryId">Country of Residence</label>
          {% if countries %}
          <select class="form-control" name="countryId" id="countryId">
            <option value="">Choose one</option>
            {% for country in countries %}
            <option value="{{ country.id }}" {% if country.id == form.data.countryId %}selected{% endif %}>{{ country.name }}</option>
            {% endfor %}
          </select>
          {% else %}
            <p class="alert alert-danger">Error loading countries</p>
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.citizenshipId %}has-error{% endif %}">
          <label class="control-label" for="citizenshipId">Country of Citizenship</label>
          {% if countries %}
          <select class="form-control" name="citizenshipId" id="citizenshipId">
            <option value="">Choose one</option>
            {% for country in countries %}
            <option value="{{ country.id }}" {% if country.id == form.data.citizenshipId %}selected{% endif %}>{{ country.name }}</option>
            {% endfor %}
          </select>
          {% else %}
            <p class="alert alert-danger">Error loading countries</p>
          {% endif %}
        </div>

        <div class="form-group {% if form.errors.piEligibility %}has-error{% endif %}">
          <label class="control-label">PI Eligibility</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="piEligibility" {% if form.data.piEligibility == 'Eligible' %}checked{% endif %}> PI Eligible
            </label>
          </div>
          <p class="help-block">
            Faculty and Research Staff from U.S.-based institutions can request
            PI Eligibility on Chameleon.
          </p>
        </div>
      </fieldset>

      <fieldset>
        <legend>Account Information</legend>

        <div class="form-group {% if form.errors.username %}has-error{% endif %}">
          <label class="control-label" for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="Username" value="{{ form.data.username }}">
          <p class="help-block">{{ form.errors.username }} Usernames must be 3-8 characters in length, start with a letter, and can contain only lowercase letters, numbers, or underscore.
        </div>

        <div class="form-group {% if form.errors.password %}has-error{% endif %}">
          <label class="control-label" for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          <p class="help-block">{{ form.errors.password }}</p>
        </div>

        <div class="form-group {% if form.errors.password %}has-error{% endif %}">
          <label class="control-label" for="confirm_password">Confirm Password</label>
          <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
          <p class="help-block">Passwords must meet the following criteria:</p>
          <ul class="help-block">
            <li>Must not contain your account name or parts of your full name</li>
            <li>Must be a minimum of 8 characters in length</li>
            <li>Must contain characters from at least three of the following: uppercase letters, lowercase letters, numbers, symbols</li>
          </ul>
        </div>
      </fieldset>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Save Profile</button>
        <a href="{% url 'tas:profile' %}" class="btn btn-default">Cancel</a>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="well">
        <h3>Already have an account?</h3>
        <p class="lead">
          If you already have an account <a class="btn btn-default" href="{% url 'login' %}"> click here to log in</a>.
        </p>
        <p class="lead">
          If you have a TACC account you can use your TACC credentials to log in to
          the Chameleon portal and activate your Chameleon account.
        </p>
      </div>
    </div>
  </div>
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
jQuery(function($) {
  $('#institutionId').on('change', function(e) {
    $('#newInstitution').addClass('hide');

    var id = parseInt(this.value);
    if (id > 0) {
      var depts = JSON.parse( $(this).find('option[value='+id+']').attr('data-depts') );
      if (depts.length) {
        var opts = '<option value="">Choose One</option>';
        $.each(depts, function(i, o) {
          opts += '<option value="' + o.id + '">' + o.name + '</option>';
        });
        $('#departmentId').html(opts);
        $('#departmentId').parent().removeClass('hide');
      } else {
        $('#departmentId').val('');
        $('#departmentId').parent().addClass('hide');
      }
    } else if (id === 0) {
      $('#departmentId').val('');
      $('#departmentId').parent().addClass('hide');
      $('#newInstitution').removeClass('hide');
    } else {
      $('#departmentId').val('');
      $('#departmentId').parent().addClass('hide');
    }
  });

  if ($('#departmentId').val() === '') {
    $('#departmentId').parent().addClass('hide');
  }

  $('#institutionNotListed').on('click', function(e) {
    e.preventDefault();
    $('#institutionId').val(0).trigger('change');
  });

  if ($('#institutionId').val() === '0') {
    $('#newInstitution').removeClass('hide');
  }
});
</script>
{% endblock %}
