{% extends "layout/default.html" %}
{% load static %}

{% block page_top %}
  <div class="front">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-8">
            <h1>
              A configurable experimental environment for large-scale cloud research
            </h1>
          </div>
          <div class="col-md-5 col-sm-4 hidden-xs">
            <div class="text-center">
              <img class="img-responsive" src="{% static "images/cloud.png" %}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-wrapper container">
      <div class="social social-front">
        <a href="https://www.facebook.com/ChameleonCloud"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/groups?gid=8155241"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/ChameleonCloud"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/user/ChameleonCloud"><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}{% endblock %}
