
<article>

  <header class="post-header">
    <h1>{{outage.title}}</h1>
    <p class="meta">Posted {{outage.publish_date.date}} • {{outage.author}}</p>
  </header>

  <section class="post-content">
  {% if outage.image %}<img src="/static/{{outage.image}}">{% endif %}
  <p>{{outage.short_description}}</p>
  <p>{{outage.long_description}}</p>

  <table>
  <tr> <th>Reason</th> <td>{{outage.reason}}</td> </tr>
  <tr> <th>Affected Systems</th> <td>{{outage.affected_systems}}</td> </tr>
  <tr> <th>Start Date</th> <td>{{outage.start_date}}</td> </tr>
  <tr> <th>Anticipated End Date</th> <td>{{outage.end_date}}</td> </tr>
  <tr> <th>Resolution:</th>
      <td>
      {% if outage.resolution %}
        {{outage.resolution}}
      {% else %}
        Unresolved
      {% endif %}
      </td>
  </tr>
  </table>

  </section>

</article>

