{% load static %}

<div class="artifactStats">
  <div class="artifactStats__meta">
    <span><i class="fa fa-repeat"></i>
    {% if version.metrics.access_count %}
      {{ version.metrics.access_count }}
    {% elif artifact.versions %}
      {% with artifact.versions|last as version %}
        {{version.metrics.access_count }}
      {% endwith %}
    {% else %}
      -
    {% endif %}
    </span>
    <span><i class="fa fa-files-o"></i> {{ artifact.versions | length }}</span>
    {% load trovi_filters %}
    <span class="artifactStats__updated">{{ artifact.updated_at | trovi_date_format }}</span>
  </div>
  <div class="artifactStats__labels">
    {% for label in artifact.tags %}
    <a href="{% url 'sharing_portal:index_all' %}?filter=tag:{{ label|urlencode }}">{{ label }}</a>
    {% endfor %}
    {% if artifact.is_chameleon_supported %}
    <a href="{% url 'sharing_portal:index_all' %}?filter=tag:chameleon" class="artifactStats__chameleonSupported" title="This artifact is supported by the Chameleon team">
      <img src="{% static 'images/logo-small.png' %}" alt="Small Chameleon logo">
    </a>
    {% endif %}
  </div>
</div>
