{% load staticfiles %}

<div class="artifactStats">
  <div class="artifactStats__meta">
    {% if version and version.launch_count %}
    <span><i class="fa fa-repeat"></i> {{ version.launch_count }}</span>
    {% elif not version and artifact.launch_count %}
    <span><i class="fa fa-repeat"></i> {{ artifact.launch_count }}</span>
    {% endif %}
    <span><i class="fa fa-files-o"></i> {% if artifact.num_versions %}{{ artifact.num_versions }}{% else %}{{ artifact.versions | length }}{% endif %}</span>
    <span class="artifactStats__updated">{{ artifact.updated_at }}</span>
  </div>
  <div class="artifactStats__labels">
    {% for label in artifact.display_labels %}
    <a href="{% url 'sharing_portal:index_all' %}?filter=tag:{{ label.label|urlencode }}">{{ label.label }}</a>
    {% endfor %}
    {% if artifact.is_chameleon_supported %}
    <a href="{% url 'sharing_portal:index_all' %}?filter=tag:chameleon" class="artifactStats__chameleonSupported" title="This artifact is supported by the Chameleon team">
      <img src="{% static 'images/logo-small.png' %}" alt="Small Chameleon logo">
    </a>
    {% endif %}
  </div>
</div>
