{% load static %}

<div class="artifactStats">
  <div class="artifactStats__meta">
    <span data-toggle="tooltip" data-placement="top" title="Launches - total number of launch button clicks"><i class="fa fa-rocket"></i>
    {% if version.metrics.access_count %}
      {{ version.metrics.access_count }}
    {% elif artifact.metrics.access_count %}
      {{ artifact.metrics.access_count }}
    {% else %}
      -
    {% endif %}
    </span>
    <span data-toggle="tooltip" data-placement="top" title="Viewers - number of users who clicked the launch button"><i class="fa fa-eye"></i>
    {% if version.metrics.unique_access_count %}
      {{ version.metrics.unique_access_count }}
    {% elif artifact.metrics.unique_access_count %}
      {{ artifact.metrics.unique_access_count }}
    {% else %}
      -
    {% endif %}
    </span>
    <span data-toggle="tooltip" data-placement="top" title="Users - number of users who executed at least one cell"><i class="fa fa-users"></i>
    {% if version.metrics.unique_cell_execution_count %}
      {{ version.metrics.unique_cell_execution_count }}
    {% elif artifact.metrics.unique_cell_execution_count %}
      {{ artifact.metrics.unique_cell_execution_count }}
    {% else %}
      -
    {% endif %}
    </span>
    <span data-toggle="tooltip" data-placement="top" title="Versions - number of published versions"><i class="fa fa-files-o"></i> {{ artifact.versions | length }}</span>
    {% load trovi_filters %}
    <span class="artifactStats__updated">{{ artifact.updated_at | trovi_date_format }}</span>
  </div>
  <div class="artifactStats__labels">
    {% for label in artifact.tags %}
    <a href="{% url 'sharing_portal:index_all' %}?filter=tag:{{ label|urlencode }}">{{ label }}</a>
    {% endfor %}
    {% for badge in artifact.badges %}
    <a href="{% url 'sharing_portal:index_all' %}?filter=badge:{{ badge|urlencode }}" class="artifactStats__chameleonSupported" title="This artifact is supported by the Chameleon team">
      {% with 'images/'|add:badge.badge.name|add:'-logo-small.png' as logo_static %}
        <img src="{% static logo_static %}" alt="Small {{badge.badge.name}} logo">
      {% endwith %}
    </a>
    {% endfor %}

  </div>
</div>
