{% extends "layout/default.html" %}
{% load i18n %}
{% block title %}Webinar Registration{% endblock %}
{% block content %}

<h1>Webinars</h1>

<p class="lead">
  Listed below are the current Webinars.
</p>

<ul class="list-group">
{% for w in webinars %}
  <li class="list-group-item">
    <h4>{{ w.name }}
    </h4>
    <p><i>{{ w.start_date }} to {{ w.end_date }}</i></p>
    <p>{{ w.description|safe }}</p>
    <p>
      <a href="{% url 'webinar_registration:webinar' w.id %}" class="btn btn-default">View</a>
      {% if w.is_registration_open and user.is_authenticated %}
        {% if w.is_registered %}
          <a href="{% url 'webinar_registration:unregister' w.id %}" class="btn btn-danger">Cancel registration</a>
        {% else %}
        <a href="{% url 'webinar_registration:register' w.id %}" class="btn btn-info">Register</a>
        {% endif %}
      {% endif %}
      {% if w.is_registration_future %}
          <p><i>Webinar will open for registration on {{ w.registration_open }}</i></p>
      {% endif %}
    </p>
  </li>
{% empty %}
  <div class="jumbotron">
    <p>
      {% trans 'There are no current Webinars to display.' %}
    </p>
  </div>
{% endfor %}
</ul>

{% endblock %}
