{% extends "layout/default.html" %}
{% load i18n %}
{% load cms_tags %}
{% block title %}{{ webinar.name }} | Webinar{% endblock %}
{% block content %}

<h1>{{ webinar.name }} </h1>

<p><i>{{ webinar.start_date }} to {{ webinar.end_date }}</i></p>

<p>{{ webinar.description|safe }}</p>
<p>
    {% if webinar.is_registration_open %}
      {% if participant %}
      <p class="alert alert-success">
        You are registered for this webinar!
      </p>
        <a href="{% url 'webinar_registration:unregister' webinar.id %}" class="btn btn-danger">Cancel registration</a>
      {% else %}
      <p>
        {% if user.is_authenticated %}
          {% if not is_full %}
          <a class="btn btn-info" href="{% url 'webinar_registration:register' webinar.id %}">
            Register
          </a>
          {% else %}
            This webinar is full.
          {% endif %}
        {% else %}
          <a class="btn btn-info" href="{% url 'login' %}?next={% url 'webinar_registration:register' webinar.id %}">
            Log in to Register
          </a>
        {% endif %}
      </p>
      {% endif %}
    {% else %}
      {% if webinar.is_registration_future %}
        <p><i>Registration will open {{ webinar.registration_open }}.</i></p>
      {% else %}
        <p>Registration closed {{ webinar.registration_closed }}.</p>
      {% endif %}
    {% endif %}
</p>
{% endblock %}
