{% extends "layout/default.html" %}

{% block title %}Accept Terms and Conditions{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<section data-role="content">
  {{ form.errors }}
{% for terms in form.initial.terms %}
  <h1>Please Accept {{ terms.name|safe }}</h1>
  <div id="tc-terms-html">
    {{ terms.text|safe }}
  </div>
  <p>
    <a href="{% url "tc_print_page" terms.slug|safe terms.version_number|safe %}" target="_blank">Print {{ terms.name|safe }}</a>
  </p>
{% endfor %}
  <form action="{% url "tc_accept_page" %}" method="post" id="tc-terms-form" data-ajax="false">
    {% csrf_token %}
    {{ form.terms }}
    {{ form.returnTo }}
    <p><button type="submit" class="btn btn-primary">Accept</button></p>
  </form>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  'use strict';
(function( window, $, undefined ) {
var text = `
I will acknowledge support from the Chameleon project and the National Science Foundation in any publication that describes work which benefited from access to Chameleon cyberinfrastructure resources. The suggested acknowledgement can be found in the Chameleon FAQ and is as follows: “Results presented in this paper were obtained using the Chameleon testbed supported by the National Science Foundation”.
`;
  $('#tc-terms-form').on('submit', function() {
    var c = confirm(text);
    return c;
  });
})( this, $ );
</script>
{% endblock %}
{% block footer %}{% endblock %}
