{% extends "layout/user.html" %}

{% load humanize %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h3>Dashboard</h3>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Active Projects</h4>
        <div class="pull-right">
          <a href="{% url 'projects:user_projects' %}"><small>Manage your Projects</small></a>
        </div>
      </div>
      <div class="panel-body">
        {% if active_projects %}
          <table class="table">
            <thead>
              <tr>
                <th style="width:30%">Project</th>
                <th style="width:30%"></th>
                <th style="width:40%">Usage/Info</th>
              </tr>
            </thead>
              <tbody>
              {% for project in active_projects %}
                {% for alloc in project.allocations %}
                  {% if alloc.status == 'Active' %}
                    <tr>
                      <td>
                        {% if project.nickname %}
                        <a href="{% url 'projects:view_project' project.id %}">{{ project.nickname }}</a>
                        <div><small>{{project.chargeCode}}</small></div>
                        {% else %}
                        <a href="{% url 'projects:view_project' project.id %}">{{ project.chargeCode }}</a>
                        {% endif %}
                      </td>
                      <td>
                        {% for a in project.allocations %}
                          {% if a.resourceId == alloc.resourceId %}
                              {% if a.status == 'Approved' %}
                                <p>
                                  <i>Allocation has an approved request</i>
                                  <b>Approval date:</b>
                                  {{ a.dateReviewed }}
                                </p>
                              {% elif a.status == 'Pending' %}
                                <p>
                                  <i>Allocation has a pending request</i><br />
                                  <b>Date requested:</b>
                                  {{ a.dateRequested }}
                                </p>
                              {% endif %}
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td>
                        <div class="progress">
                          <div class="progress-bar progress-bar-info" role="progressbar"
                            style="width: {{ alloc.percentComputeUsed }}%; max-width:100%">
                            {{ alloc.percentComputeUsed|floatformat:"0" }}%
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>No active projects.</p>
          {% endif %}
        </div>
      </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Open tickets</h4>
        <div class="pull-right">
          <a href="{% url 'djangoRT:mytickets' %}"><small>View all Tickets</small></a>
          &nbsp;
          <a href="{% url 'djangoRT:ticketcreate' %}"><small><i class="fa fa-plus-circle"></i> Open a Ticket</small></a>
        </div>
      </div>
      <div class="panel-body">
        {% if open_tickets %}
          <table class="table">
            <thead>
              <th>Ticket</th>
              <th>Last Updated</th>
              <th></th>
            </thead>
            <tbody>
              {% for ticket in open_tickets %}
                <tr>
                <td><a href="{% url 'djangoRT:ticketdetail' ticket.id %}">#{{ticket.id}} - {{ticket.Subject}}</a></td>
                <td>{{ticket.LastUpdated|naturaltime}}</td>
                <td class="text-right"><a href="{% url 'djangoRT:ticketreply' ticket.id %}">Reply</a></td>
                </tr>
              {% endfor %}
            <tbody>
          </table>
        {% else %}
          <p>No open tickets.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row">
{% if outages %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Ongoing outages</h4>
      </div>
      <div class="panel-body">
        {% for o in outages %}
          <article>
            <header><h4><a href="{% url 'user_news:outage_detail' o.slug %}">{{o.title}}</a></h4></header>
            <p>{{o.summary|safe}}</p>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
  {% if webinars %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Upcoming Webinars</h4>
      </div>
      <div class="panel-body">
        {% for w in webinars %}
          <article>
            <header><h4><a href="{% url 'webinar_registration:webinar' w.id %}">{{w.name}}</a></h4></header>
            <p>{{w.description|safe}}</p>
          </article>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
</div>

{% endblock %}
