{% extends "layout/front.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>FutureGrid<span>@</span>Chameleon</h2>
    <p>
      FutureGrid<span>@</span>Chameleon is a transitional phase allowing Chameleon users to use
      our legacy FutureGrid clusters, Alamo and Hotel, configured as they were in
      FutureGrid: as OpenStack resources. New Chameleon hardware and capabilities
      will become available next year. Please
      <a href="{% url 'github_content.views.news_story' '2014' '07' '23' 'chameleon-cloud-will-be-launching-soon' %}">see our project schedule</a>
      for more information.
    </p>
  </div>
  <div class="col-md-6">
    <div>
      <h2>Getting Started</h2>
      <p>
        All active FutureGrid users and projects have been imported into Chameleon. To
        begin using Chameleon, all you need to do is:
      </p>
      <ol>
        <li> <a href="{% url 'documentation.views.display_doc' 'futuregrid/accounts' %}">Activate your account</a>
        <li> <a href="{% url 'documentation.views.display_doc' 'futuregrid/allocations' %}">Activate your allocation</a>
        <li> <a href="{% url 'documentation.views.display_doc' 'user-guides/openstack-havana-user-guide' %}">Read the OpenStack User Guide</a>
      </ol>
    </div>
  </div>
</div>

<h2>Recent News</h2>
<div class="row">
  {% for post in posts %}
    <div class="col-md-6">
      {% include "github_content/news_teaser.html" %}
    </div>
  {% endfor %}
</div>
{% endblock %}
