{% extends "layout/front.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>FutureGrid<span>@</span>Chameleon</h2>
    <p>
      FutureGrid<span>@</span>Chameleon is a transitional phase allowing Chameleon users to use
      our legacy FutureGrid clusters, Alamo and Hotel, configured as they were in
      FutureGrid: as OpenStack resources. New Chameleon hardware and capabilities
      will become available next year. Please
      <a href="{% url 'github_content.views.news_story' '2014' '07' '23' 'chameleon-cloud-will-be-launching-soon' %}">see our project schedule</a>
      for more information.
    </p>
  </div>
  <div class="col-md-6">
    <div>
      <h2>Getting Started</h2>
      <p>
        <b>Were you a FutureGrid user?</b> You can
        <a href="{% url 'documentation.views.display_doc' 'futuregrid/accounts' %}">activate your Chameleon account</a>
        and then
        <a href="{% url 'documentation.views.display_doc' 'futuregrid/allocations' %}">activate your allocation</a>
        to continue your work on Chameleon.
      </p>
      <p>
        <b>Are you a new user?</b> <a href="{% url 'tas.views.register' %}">Request an account</a>
        and then <a href="{% url 'projects.views.user_projects' %}">request an allocation</a> or ask
        the PI of an existing project to add you to their project.
      </p>
      <p>
        Once you have an account and an allocation,
        <a href="{% url 'documentation.views.display_doc' 'user-guides' %}">read the user guides</a> and then
        <a href="https://horizon.chameleon.tacc.utexas.edu" target="_blank">use the Alamo OpenStack web interface</a>.
      </p>
    </div>
  </div>
</div>

<h2>Recent News</h2>
<div class="row">
  {% for post in posts %}
    <div class="col-md-6">
      {% include "github_content/news_teaser.html" %}
    </div>
  {% endfor %}
</div>
{% endblock %}
