{% extends "layout/default.html" %}

{% block title %}Receive updates from Chameleon{% endblock %}

{% block content %}
<h1>Receive updates from Chameleon</h1>

<p>
  Please subscribe to our
  <a href="http://lists.chameleoncloud.org/mailman/listinfo/announce">announce mailing list</a>
  to receive the latest news from the Chameleon project.
</p>

<p>
  You can also catch up on previous announcement by consulting the
  <a href="http://lists.chameleoncloud.org/pipermail/announce/">archives of the mailing list</a>.
</p>
{% endblock %}
