---
name: reviewdog
on: [pull_request]
jobs:
  # Python formatting
  # reporter: [github-pr-review, github-pr-check, github-check]
  # filter_mode:
  #   added: added/modified lines
  #   diff_context: added/modified lines +/- N lines
  #   file: entire added / modified file
  #   nofilter: everything in repo
  # level: [info,warning,error]
  black:
    name: runner / black
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v3
      - uses: reviewdog/action-black@v3
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          filter_mode: added
          level: warning
  flake8:
    name: runner / flake8
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v3
      - name: flake8 Lint
        uses: reviewdog/action-flake8@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          filter_mode: added
          level: warning
